ul.sf-autocomplete {
  position: absolute;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  list-style: none;

  a {
    padding: 3px;
    display: block;
    color: #000;

    &.ui-state-focus {
      background-color: #eee;
    }

    &:hover {
      cursor: pointer;

      text-decoration: none;
    }
  }
}

.search-input.on-page {
    padding: 2rem 0 !important;
    background: $light-gray;

    @include gradient('to bottom right', $light-blue, $dark-blue);

    .search-container {
        position: relative;
        width: 100%;
        border: 1px solid white;
        font-size: 1rem;

        input.search {
            color: $white;
            background-color: transparent;
            height: 3em;
            width: 100%;
            margin: 0;
            border: none;
            outline: none;
            box-shadow: none;
            font-size: .8rem;
            padding: 0 2rem 0 .8rem;

            &:-ms-clear {
                display: none;
            }
            &::-ms-clear {
                display: none;
            }

            &::-webkit-input-placeholder {
                color: rgba(255,255,255,0.8);
            }

            &:-ms-input-placeholder {
                color: rgba(255,255,255,0.8);
            }

            &::-ms-input-placeholder {
                color: rgba(255,255,255,0.8);
            }
        }

        button {
            color: white;
            right: .75rem;

            @include vertical-center;

            i {
                font-size: 1rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 796px) {
        input[type="search"], input[type="submit"] {
            float: none;
            width: 100%;
            display: block;
            border: 2px solid $dark-gray;
        }
    }
}
