/****************************************************************************/
/* These colors are directly from the UTI style guide.                      */
/****************************************************************************/

/* Primary Colors */
$red: #D50019;
$monza: $red;
$dark-red: #A70E13;
$shiraz: $dark-red;

$blue: #1779ba;
$light-blue: #0086D2;
$lochmara: $light-blue;
$dark-blue: #003852;
$prussian-blue: $dark-blue;

/* Secondary Colors */
$yellow: #FFD400;
$white: #FFFFFF;
$light-gray: #D9D9D9;
$gray: #8C8C8C;
$dark-gray: #262626;
$light-black: #0D0D0D;
$black: #000000;
$rich-black: #020017;
$gold: $yellow;
$alto: $light-gray;
$mine-shaft: $dark-gray;
$cod-gray: $light-black;
$stratos: $rich-black;
