﻿/*@font-face {
  font-family: Tungsten-Semibold;
  src: url(/ResourcePackages/Foundation/assets/fonts/Tungsten-Semibold.otf);
}

@font-face {
  font-family: Tungsten-Medium;
  src: url(/ResourcePackages/Foundation/assets/fonts/Tungsten-Medium.otf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(/ResourcePackages/Foundation/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(/ResourcePackages/Foundation/assets/fonts/Montserrat-Medium.ttf);
}
*/

@font-face {
	font-family: 'Montserrat';
	src: url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.eot');
	src: url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.eot');
	src: url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'),
		url('/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Tungsten';
	src: url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.eot');
	src: url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.eot?#iefix') format('embedded-opentype'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.woff2') format('woff2'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.woff') format('woff'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.ttf') format('truetype'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.svg#Tungsten-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.eot');
	src: url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.eot?#iefix') format('embedded-opentype'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.woff2') format('woff2'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.woff') format('woff'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.ttf') format('truetype'),
		url('/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.svg#Tungsten-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
