﻿@@font-face {
    font-family: 'Montserrat';
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.eot);
    src: url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.woff2) format('woff2'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.woff) format('woff'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'),url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal
}

@@font-face {
    font-family: 'Montserrat';
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.eot);
    src: url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.woff2) format('woff2'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.woff) format('woff'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype'),url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal
}

@@font-face {
    font-family: 'Tungsten';
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.eot);
    src: url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.eot?#iefix') format('embedded-opentype'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.woff2) format('woff2'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.woff) format('woff'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.ttf) format('truetype'),url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Medium.svg#Tungsten-Medium') format('svg');
    font-weight: 400;
    font-style: normal
}

@@font-face {
    font-family: 'Tungsten';
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.eot);
    src: url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.eot?#iefix') format('embedded-opentype'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.woff2) format('woff2'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.woff) format('woff'),url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.ttf) format('truetype'),url('@baseUrl/ResourcePackages/Foundation/assets/fonts/Tungsten/Tungsten-Semibold.svg#Tungsten-Semibold') format('svg');
    font-weight: 600;
    font-style: normal
}

@@font-face {
    font-family: Montserrat;
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.eot);
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.woff2) format("woff2"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.woff) format("woff"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@@font-face {
    font-family: Montserrat;
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.eot);
    src: url(@baseUrl/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.eot?#iefix) format("embedded-opentype"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.woff2) format("woff2"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.woff) format("woff"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype"),url(/ResourcePackages/Foundation/assets/fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium) format("svg");
    font-weight: 500;
    font-style: normal
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

header, section {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:active, a:hover {
        outline-width: 0
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

html {
    box-sizing: border-box;
    font-size: 18px
}

*, ::after, ::before {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: Montserrat,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.row {
    max-width: 66.6666666667rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap
}

    .row .row {
        margin-right: -.5555555556rem;
        margin-left: -.5555555556rem
    }

@@media print,screen and (min-width: 40em) {
    .row .row {
        margin-right: -.8333333333rem;
        margin-left: -.8333333333rem
    }
}

@@media print,screen and (min-width: 64em) {
    .row .row {
        margin-right: -.8333333333rem;
        margin-left: -.8333333333rem
    }
}

@@media screen and (min-width: 75em) {
    .row .row {
        margin-right: -.8333333333rem;
        margin-left: -.8333333333rem
    }
}

.row .row.collapse {
    margin-right: 0;
    margin-left: 0
}

.row.expanded {
    max-width: none
}

    .row.expanded .row {
        margin-right: auto;
        margin-left: auto
    }

.row:not(.expanded) .row {
    max-width: none
}

.row.collapse > .c, .row.collapse > .cs {
    padding-right: 0;
    padding-left: 0
}

    .row.collapse > .c > .row, .row.collapse > .cs > .row, .row.is-collapse-child {
        margin-right: 0;
        margin-left: 0
    }

.c, .cs {
    flex: 1 1 0;
    padding-right: .5555555556rem;
    padding-left: .5555555556rem;
    min-width: 0
}

@@media print,screen and (min-width: 40em) {
    .c, .cs {
        padding-right: .8333333333rem;
        padding-left: .8333333333rem
    }
}

.c.row.row, .row.row.cs {
    float: none;
    display: block
}

.row .c.row.row, .row .row.row.cs {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0
}

.s-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%
}

.s-offset-0 {
    margin-left: 0
}

.s-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
}

.s-offset-1 {
    margin-left: 8.3333333333%
}

.s-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.s-offset-2 {
    margin-left: 16.6666666667%
}

.s-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
}

.s-offset-3 {
    margin-left: 25%
}

.s-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
}

.s-offset-4 {
    margin-left: 33.3333333333%
}

.s-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.s-offset-5 {
    margin-left: 41.6666666667%
}

.s-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
}

.s-offset-6 {
    margin-left: 50%
}

.s-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%
}

.s-offset-7 {
    margin-left: 58.3333333333%
}

.s-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.s-offset-8 {
    margin-left: 66.6666666667%
}

.s-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%
}

.s-offset-9 {
    margin-left: 75%
}

.s-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%
}

.s-offset-10 {
    margin-left: 83.3333333333%
}

.s-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.s-offset-11 {
    margin-left: 91.6666666667%
}

.s-up-1 {
    flex-wrap: wrap
}

    .s-up-1 > .c, .s-up-1 > .cs {
        flex: 0 0 100%;
        max-width: 100%
    }

.s-up-2 {
    flex-wrap: wrap
}

    .s-up-2 > .c, .s-up-2 > .cs {
        flex: 0 0 50%;
        max-width: 50%
    }

.s-up-3 {
    flex-wrap: wrap
}

    .s-up-3 > .c, .s-up-3 > .cs {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

.s-up-4 {
    flex-wrap: wrap
}

    .s-up-4 > .c, .s-up-4 > .cs {
        flex: 0 0 25%;
        max-width: 25%
    }

.s-up-5 {
    flex-wrap: wrap
}

    .s-up-5 > .c, .s-up-5 > .cs {
        flex: 0 0 20%;
        max-width: 20%
    }

.s-up-6 {
    flex-wrap: wrap
}

    .s-up-6 > .c, .s-up-6 > .cs {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

.s-up-7 {
    flex-wrap: wrap
}

    .s-up-7 > .c, .s-up-7 > .cs {
        flex: 0 0 14.2857142857%;
        max-width: 14.2857142857%
    }

.s-up-8 {
    flex-wrap: wrap
}

    .s-up-8 > .c, .s-up-8 > .cs {
        flex: 0 0 12.5%;
        max-width: 12.5%
    }

.s-collapse > .c, .s-collapse > .cs {
    padding-right: 0;
    padding-left: 0
}

.s-uncollapse > .c, .s-uncollapse > .cs {
    padding-right: .5555555556rem;
    padding-left: .5555555556rem
}

@@media print,screen and (min-width: 40em) {
    .m-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .m-offset-0 {
        margin-left: 0
    }

    .m-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .m-offset-1 {
        margin-left: 8.3333333333%
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .m-offset-2 {
        margin-left: 16.6666666667%
    }

    .m-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .m-offset-3 {
        margin-left: 25%
    }

    .m-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .m-offset-4 {
        margin-left: 33.3333333333%
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .m-offset-5 {
        margin-left: 41.6666666667%
    }

    .m-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .m-offset-6 {
        margin-left: 50%
    }

    .m-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .m-offset-7 {
        margin-left: 58.3333333333%
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .m-offset-8 {
        margin-left: 66.6666666667%
    }

    .m-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .m-offset-9 {
        margin-left: 75%
    }

    .m-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .m-offset-10 {
        margin-left: 83.3333333333%
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .m-offset-11 {
        margin-left: 91.6666666667%
    }

    .m-up-1 {
        flex-wrap: wrap
    }

        .m-up-1 > .c, .m-up-1 > .cs {
            flex: 0 0 100%;
            max-width: 100%
        }

    .m-up-2 {
        flex-wrap: wrap
    }

        .m-up-2 > .c, .m-up-2 > .cs {
            flex: 0 0 50%;
            max-width: 50%
        }

    .m-up-3 {
        flex-wrap: wrap
    }

        .m-up-3 > .c, .m-up-3 > .cs {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%
        }

    .m-up-4 {
        flex-wrap: wrap
    }

        .m-up-4 > .c, .m-up-4 > .cs {
            flex: 0 0 25%;
            max-width: 25%
        }

    .m-up-5 {
        flex-wrap: wrap
    }

        .m-up-5 > .c, .m-up-5 > .cs {
            flex: 0 0 20%;
            max-width: 20%
        }

    .m-up-6 {
        flex-wrap: wrap
    }

        .m-up-6 > .c, .m-up-6 > .cs {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%
        }

    .m-up-7 {
        flex-wrap: wrap
    }

        .m-up-7 > .c, .m-up-7 > .cs {
            flex: 0 0 14.2857142857%;
            max-width: 14.2857142857%
        }

    .m-up-8 {
        flex-wrap: wrap
    }

        .m-up-8 > .c, .m-up-8 > .cs {
            flex: 0 0 12.5%;
            max-width: 12.5%
        }
}

@@media print,screen and (min-width: 40em) and (min-width:40em) {
    .m-expand {
        flex: 1 1 0
    }
}

.row.l-unstack > .c, .row.l-unstack > .cs, .row.m-unstack > .c, .row.m-unstack > .cs, .row.xlarge-unstack > .c, .row.xlarge-unstack > .cs {
    flex: 0 0 100%
}

@@media print,screen and (min-width: 40em) {
    .row.m-unstack > .c, .row.m-unstack > .cs {
        flex: 1 1 0
    }
}

@@media print,screen and (min-width: 40em) {
    .m-collapse > .c, .m-collapse > .cs {
        padding-right: 0;
        padding-left: 0
    }

    .m-uncollapse > .c, .m-uncollapse > .cs {
        padding-right: .8333333333rem;
        padding-left: .8333333333rem
    }
}

@@media print,screen and (min-width: 64em) and (min-width:64em) {
    .l-expand {
        flex: 1 1 0
    }
}

@@media print,screen and (min-width: 64em) {
    .row.l-unstack > .c, .row.l-unstack > .cs {
        flex: 1 1 0
    }
}

@@media print,screen and (min-width: 64em) {
    .l-collapse > .c, .l-collapse > .cs {
        padding-right: 0;
        padding-left: 0
    }

    .l-uncollapse > .c, .l-uncollapse > .cs {
        padding-right: .8333333333rem;
        padding-left: .8333333333rem
    }
}

.shrink {
    flex: 0 0 auto;
    max-width: 100%
}

.c-block {
    margin-bottom: 1.1111111111rem
}

    .c-block > :last-child {
        margin-bottom: 0
    }

@@media print,screen and (min-width: 40em) {
    .c-block {
        margin-bottom: 1.6666666667rem
    }

        .c-block > :last-child {
            margin-bottom: 0
        }
}

div, h1, h2, h3, p {
    margin: 0;
    padding: 0
}

p {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility
}

i {
    font-style: italic;
    line-height: inherit
}

h1, h2, h3 {
    font-family: "Tungsten",Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    color: inherit;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 2.5555555556rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h2 {
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h3 {
    font-size: 1.6666666667rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

@@media print,screen and (min-width:40em) {
    h1 {
        font-size: 4rem
    }

    h2 {
        font-size: 3rem
    }

    h3 {
        font-size: 1.7777777778rem
    }
}

a {
    line-height: inherit;
    color: #1779ba;
    text-decoration: none;
    cursor: pointer
}

    a:focus, a:hover {
        color: #1468a0
    }

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

@@media print {
    * {
        background: 0 0;
        box-shadow: none;
        color: #000;
        text-shadow: none
    }

    a, a:visited {
        text-decoration: underline
    }

        a[href]:after {
            content: " (" attr(href) ")"
        }

    h2, h3, p {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }
}

.u {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    -webkit-appearance: none;
    border-radius: 0;
    transition: background-color .25s ease-out,color .25s ease-out;
    text-align: center;
    cursor: pointer
}

    .u, .u:focus, .u:hover {
        background-color: transparent
    }

        .u:focus, .u:hover {
            border-color: #0c3d5d;
            color: #0c3d5d
        }

a.u:focus, a.u:hover {
    text-decoration: none
}

.align-middle {
    align-items: center
}

.align-center-middle {
    justify-content: center;
    align-items: center;
    align-content: center
}

@@media print,screen and (min-width:40em) {
    .m-order-1 {
        order: 1
    }

    .m-order-2 {
        order: 2
    }
}

.sfPublicWrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative
}

.u {
    position: relative;
    color: #fff;
    padding: .9rem;
    border: 1px solid #FFF;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: Montserrat;
    font-weight: 500;
    font-size: .8888888889rem;
    border-width: 1px;
    z-index: 1
}

    .u:not(.four):not(.req) {
        min-width: 220px
    }

    .u:hover {
        color: #fff;
        background-color: transparent;
        border: 1px solid #D50019;
        text-shadow: none
    }

@@media print,screen and (min-width:64em) {
    .u:hover:before {
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%
    }
}

@@media print,screen and (min-width:64em) {
    .u:before {
        display: block;
        position: absolute;
        z-index: -1;
        content: '';
        background-image: -webkit-linear-gradient(top,#D50019,#A70E13);
        background-image: -moz-linear-gradient(top,#D50019,#A70E13);
        background-image: -o-linear-gradient(top,#D50019,#A70E13);
        background-image: linear-gradient(to bottom,#D50019,#A70E13);
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
        height: 0;
        width: 100%;
        transition: all .4s cubic-bezier(.215,.61,.355,1) 0s
    }
}

.u:disabled {
    background-color: transparent
}

@@media print,screen and (min-width:64em) {
    .u.ttb {
        transition: all .4s cubic-bezier(.215,.61,.355,1) 0s
    }
}

.u.ttb:hover {
    text-shadow: ntwo
}

@@media print,screen and (min-width:64em) {
    .u.ttb:hover:before {
        top: 0;
        bottom: auto;
        height: 100%
    }
}

.u.ttb:before {
    top: auto;
    bottom: 0;
    height: 0;
    transition: all .4s cubic-bezier(.215,.61,.355,1) 0s
}

@@media print,screen and (min-width:64em) {
    .u.rtl {
        transition: all .4s cubic-bezier(.42,0,.58,1) 0s
    }
}

.u.rtl:hover {
    text-shadow: nfour
}

@@media print,screen and (min-width:64em) {
    .u.rtl:hover:before {
        top: 0;
        left: auto;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%
    }
}

.u.rtl:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    height: 100%;
    width: 0;
    transition: all .4s cubic-bezier(.42,0,.58,1) 0s
}

.w.hero .u-area a:not(.u):not(.u-special):not(.u-special), a.text {
    border: none;
    padding: unset;
    transition: all 150ms ease-in-out
}

    .w.hero .u-area a:focus:not(.u):not(.u-special):not(.u-special), .w.hero .u-area a:hover:not(.u):not(.u-special):not(.u-special), a.text:focus, a.text:hover {
        background-color: transparent;
        color: #0086D2
    }

.w {
    color: #000
}

    .w:not(.anchor):not(.search-results):not(.hero):not(.main-footer) {
        padding: 2.5rem 0
    }

    .w h1, .w h2, .w h3 {
        letter-spacing: 1px
    }

    .w.b-white {
        color: #000
    }

        .w.b-white h2 {
            color: #003852
        }

    .w.b-white {
        background-color: #FFF
    }

    .w.b-dots-gradient-red, .w.b-red-dark {
        color: #FFF
    }

        .w.b-red-dark .u {
            color: #FFF;
            border-color: #FFF
        }

            .w.b-red-dark .u:hover {
                border: 1px solid #FFF
            }

    .w.b-dots-gradient-red {
        background-size: auto auto,100% 100%;
        background-repeat: repeat
    }

    .w.b-red-dark {
        background-color: #A70E13
    }

    .w:not(.b-image-repeat) {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover
    }

    .w:not(.hero):not(.main-footer):not(.b-dots-gradient-blue):not(.b-gradient-blue) a:not(.slide-cta):not(.u):not(.u-special):not(.accordion-title) {
        text-decoration: none
    }

    .w:not(.hero):not(.main-footer) a:not(.slide-cta):not(.u):not(.u-special):not(.accordion-title):focus, .w:not(.hero):not(.main-footer) a:not(.slide-cta):not(.u):not(.u-special):not(.accordion-title):hover {
        color: #115b8d
    }

.description {
    padding: 2.5rem 0;
    position: relative
}

    .description:not(.b-dots-gradient-blue):not(.b-gradient-blue) .description-inner .description-content a.text {
        text-decoration: underline
    }

    .description .description-inner .c.description-content {
        padding-top: 1rem
    }

        .description .description-inner .c.description-content .cta-container a {
            display: inline-block
        }

    .description .cta-container {
        margin-top: -1rem
    }

        .description .cta-container .u, .description .cta-container a {
            margin: 1rem .5rem 0
        }

        .description .cta-container a {
            vertical-align: middle;
            display: inline-block
        }

            .description .cta-container a:not(.u):not(.u-special) {
                min-height: 3.5rem;
                line-height: 3.5rem;
                padding: 0 1rem
            }

.w.hero {
    position: relative;
    overflow: hidden
}

    .w.hero.b-dots-gradient-red .overlay {
        display: none
    }

    .w.hero.video-hero {
        background-color: unset
    }

@@media print,screen and (min-width:64em) {
    .w.hero.video-hero {
        background-size: 0 0
    }
}

.w.hero .overlay {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%
}

    .w.hero .overlay:after {
        content: ' '
    }

.w.hero > .row {
    position: relative;
    z-index: 1;
    padding: 7rem 0 3rem
}

@@media print,screen and (min-width:40em) {
    .w.hero > .row {
        padding: 8rem 0 5rem
    }
}

@@media print,screen and (min-width:64em) {
    .w.hero > .row {
        padding: 11rem 0 6rem
    }
}

@@media print,screen and (min-width:40em) {
    .w.hero:not(.s-hero) > .row {
        min-height: 400px
    }
}

@@media print,screen and (min-width:64em) {
    .w.hero:not(.s-hero) > .row {
        min-height: 600px
    }
}

.w.hero .hero-content h1 {
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase
}

    .w.hero .hero-content h1 span {
        display: block;
        line-height: 1em;
        margin-top: 1.5rem;
        font-size: 1.5rem
    }

@@media print,screen and (min-width:40em) {
    .w.hero .hero-content h1 span {
        font-size: 1.7rem;
        margin-bottom: 2rem
    }
}

@@media print,screen and (min-width:64em) {
    .w.hero .hero-content h1 span {
        font-size: 2.5rem
    }
}

.w.hero .hero-content p {
    margin-top: 2rem;
    margin-bottom: 0
}

@@media print,screen and (min-width:40em) {
    .w.hero .hero-content p {
        font-size: 1rem;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto
    }
}

.w.hero .u-area {
    margin-top: 2rem
}

    .w.hero .u-area .u {
        width: 100%;
        padding: 1rem 2.5rem;
        border-color: #fff
    }

@@media print,screen and (min-width:40em) {
    .w.hero .u-area .u {
        margin-bottom: 0;
        width: auto;
        width: -moz-max-content;
        width: -webkit-max-content;
        font-size: 1rem
    }
}

.w.hero .u-area a:not(.u):not(.u-special):not(.u-special) {
    color: #fff;
    border: none;
    padding: unset
}

.w.hero .u-area a:focus:not(.u):not(.u-special):not(.u-special), .w.hero .u-area a:hover:not(.u):not(.u-special):not(.u-special) {
    color: #fff;
    background-color: transparent;
    opacity: .65
}

@@media print,screen and (min-width:40em) {
    .w.hero .u-area a + a {
        margin-left: 1.5rem
    }
}

.w.hero.hero--dark-image .overlay {
    background-image: -webkit-linear-gradient(top,rgba(17,50,87,.7),rgba(17,50,87,.2));
    background-image: -moz-linear-gradient(top,rgba(17,50,87,.7),rgba(17,50,87,.2));
    background-image: -o-linear-gradient(top,rgba(17,50,87,.7),rgba(17,50,87,.2));
    background-image: linear-gradient(to bottom,rgba(17,50,87,.7),rgba(17,50,87,.2))
}

.w.hero.hero--dark-image .u {
    color: #FFF;
    border-color: #FFF
}

.w.hero.hero--dark-image .hero-content {
    color: #FFF
}

.w.b-dots-gradient-red:not([class^=to]) {
    background-image: url(https://utiedu.azureedge.net/ResourcePackages/Foundation/assets/src/images/b-dots-pattern.png),linear-gradient(to bottom,#A70E13,#D50019)
}

.ii {
    margin-bottom: -2rem
}

    .ii .item {
        margin-bottom: 2rem
    }

@@media screen and (max-width: 39.9375em) {
    .ii .item {
        position: relative
    }
}

@@media screen and (max-width: 39.9375em) {
    .ii .item .item-content {
        padding-bottom: 2rem
    }
}

.ii .item .item-content h3 {
    margin-bottom: 1.5rem;
    line-height: 1
}

.ii .item .item-content p {
    max-width: 80%;
    margin: 0 auto
}

.ii .item .item-content > a {
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 0
}

@@media print,screen and (min-width: 40em) {
    .ii .item .item-content h3 {
        position: relative
    }
}

.ii .item .item-content h3:after {
    content: "";
    display: block;
    background: gray
}

@@media screen and (max-width: 39.9375em) {
    .ii .item .item-content h3:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 25px;
        height: 1px
    }
}

@@media print,screen and (min-width: 40em) {
    .ii .item .item-content h3:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        width: 1px;
        height: 40px
    }
}

@@media print,screen and (min-width: 40em) {
    .ii .item:nth-child(3n+3) .item-content h3:after {
        display: none
    }
}

.ii .item:last-child .item-content h3:after {
    display: none
}

.ii .item-img-container {
    margin-bottom: 2rem
}

.b-gray-dark.i, .b-gray-dark.t, .i .b-gray-dark, .t .b-gray-dark, .w .b-gray-dark, .w.b-gray-dark {
    color: #fff;
    background-color: #262626
}

.b-black.i, .b-black.t, .i .b-black, .t .b-black, .w .b-black, .w.b-black {
    color: #fff;
    background-color: #000
}

.b-light-black.i, .b-light-black.t, .i .b-light-black, .t .b-light-black, .w .b-light-black, .w.b-light-black {
    color: #fff;
    background-color: #0D0D0D
}

.b-rich-black.i, .b-rich-black.t, .i .b-rich-black, .t .b-rich-black, .w .b-rich-black, .w.b-rich-black {
    color: #fff;
    background-color: #020017
}

.b-gray-dark.i, .b-gray-dark.t, .i .b-gray-dark, .t .b-gray-dark, .w .b-gray-dark, .w.b-gray-dark .u {
    color: #fff;
    border: 1px solid #FFF
}

.b-black.i, .b-black.t, .i .b-black, .t .b-black, .w .b-black, .w.b-black .u {
    color: #fff;
    border: 1px solid #FFF
}

.b-light-black.i, .b-light-black.t, .i .b-light-black, .t .b-light-black, .w .b-light-black, .w.b-light-black .u {
    color: #fff;
    border: 1px solid #FFF
}

.b-rich-black.i, .b-rich-black.t, .i .b-rich-black, .t .b-rich-black, .w .b-rich-black, .w.b-rich-black .u {
    color: #fff;
    border: 1px solid #FFF
}

.b-blue-dark.i, .b-blue-dark.t, .i .b-blue-dark, .t .b-blue-dark, .w .b-blue-dark, .w.b-blue-dark .u {
    color: #fff;
    border: 1px solid #FFF
}

.b-blue-dark.i, .b-blue-dark.t, .i .b-blue-dark, .t .b-blue-dark, .w .b-blue-dark, .w.b-blue-dark {
    color: #fff;
    background-color: #003852
}

.f {
    padding: 0
}

    .f .show-more-container {
        text-align: center
    }

    .f a.show-more {
        display: block;
        width: fit-content;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: #000;
        text-transform: uppercase;
        font-size: 1.75rem;
        font-family: "Tungsten 6r","Tungsten A","Tungsten B";
        font-weight: 600;
        vertical-align: middle;
        line-height: 1.75rem
    }

        .f a.show-more i.fa {
            font-size: 1rem;
            vertical-align: inherit;
            line-height: inherit
        }

    .f:not(.related-content-blocks) .row {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: none
    }

    .f .row.l-up-4 .info-content p, .f .row.l-up-5 .info-content p {
        font-size: 1rem;
        margin-bottom: 1rem
    }

@@media print,screen and (min-width: 64em) {
    .f .row.l-up-5 + a.show-more {
        margin-right: 2rem
    }
}

@@media screen and (max-width: 39.9375em) {
    .f .row.s-up-1 .c-block {
        min-height: 300px
    }
}

@@media screen and (min-width: 40em) and (max-width:47.875em) {
    .f .row.m-up-2 .c-block {
        min-height: 350px
    }
}

.f .row .c-block {
    position: relative;
    opacity: 1;
    text-align: center;
    margin-bottom: 0;
    min-height: 170px;
    border: 2px solid #fff
}

@@media print,screen and (min-width: 40em) {
    .f .row .c-block {
        height: 350px
    }
}

@@media print,screen and (min-width: 64em) {
    .f .row .c-block {
        height: 300px
    }
}

.f .row .c-block.b-black, .f .row .c-block.b-black a:not(.u):not(.u-special), .f .row .c-block.b-gradient-red, .f .row .c-block.b-gradient-red a:not(.u):not(.u-special), .f .row .c-block.b-gray-dark, .f .row .c-block.b-gray-dark a:not(.u):not(.u-special), .f .row .c-block.b-red, .f .row .c-block.b-red a:not(.u):not(.u-special), .f .row .c-block.b-red-dark, .f .row .c-block.b-red-dark a:not(.u):not(.u-special), .f .row .c-block.b-rich-black, .f .row .c-block.b-rich-black a:not(.u):not(.u-special) {
    color: #FFF
}

    .f .row .c-block.b-black .u, .f .row .c-block.b-black .u-special, .f .row .c-block.b-blue .u, .f .row .c-block.b-blue .u-special, .f .row .c-block.b-blue-dark .u, .f .row .c-block.b-blue-dark .u-special, .f .row .c-block.b-gradient-blue .u, .f .row .c-block.b-gradient-blue .u-special, .f .row .c-block.b-gradient-red .u, .f .row .c-block.b-gradient-red .u-special, .f .row .c-block.b-gray-dark .u, .f .row .c-block.b-gray-dark .u-special, .f .row .c-block.b-red .u, .f .row .c-block.b-red .u-special, .f .row .c-block.b-red-dark .u, .f .row .c-block.b-red-dark .u-special, .f .row .c-block.b-rich-black .u, .f .row .c-block.b-rich-black .u-special {
        color: #FFF;
        border-color: #FFF
    }

        .f .row .c-block.b-black .u-special:focus, .f .row .c-block.b-black .u-special:hover, .f .row .c-block.b-black .u:focus, .f .row .c-block.b-black .u:hover, .f .row .c-block.b-blue .u-special:focus, .f .row .c-block.b-blue .u-special:hover, .f .row .c-block.b-blue .u:focus, .f .row .c-block.b-blue .u:hover, .f .row .c-block.b-blue-dark .u-special:focus, .f .row .c-block.b-blue-dark .u-special:hover, .f .row .c-block.b-blue-dark .u:focus, .f .row .c-block.b-blue-dark .u:hover, .f .row .c-block.b-gradient-blue .u-special:focus, .f .row .c-block.b-gradient-blue .u-special:hover, .f .row .c-block.b-gradient-blue .u:focus, .f .row .c-block.b-gradient-blue .u:hover, .f .row .c-block.b-gradient-red .u-special:focus, .f .row .c-block.b-gradient-red .u-special:hover, .f .row .c-block.b-gradient-red .u:focus, .f .row .c-block.b-gradient-red .u:hover, .f .row .c-block.b-gray-dark .u-special:focus, .f .row .c-block.b-gray-dark .u-special:hover, .f .row .c-block.b-gray-dark .u:focus, .f .row .c-block.b-gray-dark .u:hover, .f .row .c-block.b-red .u-special:focus, .f .row .c-block.b-red .u-special:hover, .f .row .c-block.b-red .u:focus, .f .row .c-block.b-red .u:hover, .f .row .c-block.b-red-dark .u-special:focus, .f .row .c-block.b-red-dark .u-special:hover, .f .row .c-block.b-red-dark .u:focus, .f .row .c-block.b-red-dark .u:hover, .f .row .c-block.b-rich-black .u-special:focus, .f .row .c-block.b-rich-black .u-special:hover, .f .row .c-block.b-rich-black .u:focus, .f .row .c-block.b-rich-black .u:hover {
            color: #000;
            background-color: #FFF
        }

.f .row .c-block.b-gray, .f .row .c-block.b-gray a:not(.u):not(.u-special), .f .row .c-block.b-gray-light, .f .row .c-block.b-gray-light a:not(.u):not(.u-special), .f .row .c-block.b-white, .f .row .c-block.b-white a:not(.u):not(.u-special) {
    color: #000
}

    .f .row .c-block.b-gray .u, .f .row .c-block.b-gray .u-special, .f .row .c-block.b-gray-light .u, .f .row .c-block.b-gray-light .u-special, .f .row .c-block.b-white .u, .f .row .c-block.b-white .u-special {
        color: #000;
        border-color: #000
    }

        .f .row .c-block.b-gray .u-special:focus, .f .row .c-block.b-gray .u-special:hover, .f .row .c-block.b-gray .u:focus, .f .row .c-block.b-gray .u:hover, .f .row .c-block.b-gray-light .u-special:focus, .f .row .c-block.b-gray-light .u-special:hover, .f .row .c-block.b-gray-light .u:focus, .f .row .c-block.b-gray-light .u:hover, .f .row .c-block.b-white .u-special:focus, .f .row .c-block.b-white .u-special:hover, .f .row .c-block.b-white .u:focus, .f .row .c-block.b-white .u:hover {
            color: #FFF;
            background-color: #000
        }

.f .row .c-block .info-content {
    width: 100%;
    padding: 0 1rem;
    max-width: 400px;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

    .f .row .c-block .info-content.center, .f .row .c-block a.info-content.show-more {
        bottom: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }

.f .c-block:not(.b-yellow):not(.b-white):not(.b-gray):not(.b-gray-light) .info-content h3 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 30px
}

@@media print,screen and (min-width: 40em) {
    .f .row .c-block .info-content h3 {
        font-size: 32px;
        margin-bottom: 2rem
    }
}

@@media print,screen and (min-width: 64em) {
    .f .row .c-block .info-content h3 {
        margin-bottom: 3rem
    }
}

.f .row .c-block .info-content p {
    margin-bottom: 2rem;
}

@@media print,screen and (min-width: 40em) {
    .f .row .c-block .info-content p {
        font-size: .85rem
    }
}

@@media print,screen and (min-width: 64em) {
    .f .row .c-block .info-content p {
        font-size: 1rem
    }
}

.f .row .c-block .info-content .u-special:after {
    content: "\f054";
    font-family: fontawesome;
    font-size: .75em;
    margin-left: .5em;
    display: inline-block;
    line-height: 1;
    vertical-align: bottom
}

.f .row .c-block .info-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute
}

.f .row .c-block a.info-overlay {
    display: block
}

    .f .row .c-block a.info-overlay.none:hover, .f .row .c-block a.info-overlay:hover {
        transition: all .25s ease;
        background-image: -webkit-linear-gradient(bottom,rgba(17,50,87,.9),rgba(17,50,87,0));
        background-image: -moz-linear-gradient(bottom,rgba(17,50,87,.9),rgba(17,50,87,0));
        background-image: -o-linear-gradient(bottom,rgba(17,50,87,.9),rgba(17,50,87,0));
        background-image: linear-gradient(to top,rgba(17,50,87,.9),rgba(17,50,87,0))
    }

.f .row .c-block.b-image, .f .row .c-block.b-image a:not(.u):not(.u-special) {
    color: #FFF
}

    .f .row .c-block.b-image .info-overlay {
        background-image: -webkit-linear-gradient(bottom,rgba(17,50,87,.85),rgba(17,50,87,0) 50%,transparent 50%);
        background-image: -moz-linear-gradient(bottom,rgba(17,50,87,.85),rgba(17,50,87,0) 50%,transparent 50%);
        background-image: -o-linear-gradient(bottom,rgba(17,50,87,.85),rgba(17,50,87,0) 50%,transparent 50%);
        background-image: linear-gradient(to top,rgba(17,50,87,.85),rgba(17,50,87,0) 50%,transparent 50%)
    }

        .f .row .c-block.b-image .info-overlay.none {
            background-image: none
        }

    .f .row .c-block.b-image:not(.b-image-repeat) {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat
    }

    .f .row .c-block.b-image.b-image-repeat {
        background-repeat: repeat
    }

    .f .row .c-block.b-image .u, .f .row .c-block.b-image .u-special {
        color: #FFF;
        border-color: #FFF
    }

        .f .row .c-block.b-image .u-special:focus, .f .row .c-block.b-image .u-special:hover, .f .row .c-block.b-image .u:focus, .f .row .c-block.b-image .u:hover {
            color: #000;
            background-color: #FFF
        }

@@media screen and (max-width: 39.9375em) {
    .f .row.s-up-1 .c-block.cs, .f .row.s-up-1 .c.c-block {
        border: 2px solid #fff;
        border-right: none;
        border-left: none
    }

    .f .row.s-up-1 .c-block:first-child {
        border-right: none;
        border-top: none;
        border-left: none
    }

    .f .row.s-up-1 .c-block:last-child {
        border-right: none;
        border-bottom: none;
        border-left: none
    }
}

@@media screen and (max-width: 39.9375em) {
    .f .row.s-up-2 .c-block.cs, .f .row.s-up-2 .c.c-block {
        border: 2px solid #fff
    }

    .f .row.s-up-2 .c-block:nth-child(odd) {
        border-left: none
    }

    .f .row.s-up-2 .c-block:nth-child(even) {
        border-right: none
    }

    .f .row.s-up-2 .c-block:nth-child(-n+2) {
        border-top: none
    }

    .f .row.s-up-2 .c-block:nth-last-child(-n+2) {
        border-bottom: none
    }
}

@@media print,screen and (min-width: 40em) {
    .f .row.m-up-3 .c-block.cs, .f .row.m-up-3 .c.c-block {
        border: 2px solid #fff
    }

    .f .row.m-up-3 .c-block:first-child, .f .row.m-up-3 .c-block:nth-child(3n+1) {
        border-left: none
    }

    .f .row.m-up-3 .c-block:last-child, .f .row.m-up-3 .c-block:nth-child(3n) {
        border-right: none
    }

    .f .row.m-up-3 .c-block:nth-child(-n+3) {
        border-top: none
    }

    .f .row.m-up-3 .c-block:nth-last-child(-n+3) {
        border-bottom: none
    }
}

@@media print,screen and (min-width: 64em) {
    .f .row.l-up-3 .c-block.cs, .f .row.l-up-3 .c.c-block {
        border: 2px solid #fff
    }

    .f .row.l-up-3 .c-block:first-child, .f .row.l-up-3 .c-block:nth-child(3n+1) {
        border-left: none
    }

    .f .row.l-up-3 .c-block:last-child, .f .row.l-up-3 .c-block:nth-child(3n) {
        border-right: none
    }

    .f .row.l-up-3 .c-block:nth-child(-n+3) {
        border-top: none
    }

    .f .row.l-up-3 .c-block:nth-last-child(-n+3) {
        border-bottom: none
    }
}

@@media print,screen and (min-width: 40em) {
    .f .row.m-up-4 .c-block.cs, .f .row.m-up-4 .c.c-block {
        border: 2px solid #fff
    }

    .f .row.m-up-4 .c-block:first-child, .f .row.m-up-4 .c-block:nth-child(4n+1) {
        border-left: none
    }

    .f .row.m-up-4 .c-block:last-child, .f .row.m-up-4 .c-block:nth-child(4n) {
        border-right: none
    }

    .f .row.m-up-4 .c-block:nth-child(-n+4) {
        border-top: none
    }

    .f .row.m-up-4 .c-block:nth-last-child(-n+4) {
        border-bottom: none
    }
}

@@media print,screen and (min-width: 64em) {
    .f .row.l-up-4 .c-block.cs, .f .row.l-up-4 .c.c-block {
        border: 2px solid #fff
    }

    .f .row.l-up-4 .c-block:first-child, .f .row.l-up-4 .c-block:nth-child(4n+1) {
        border-left: none
    }

    .f .row.l-up-4 .c-block:last-child, .f .row.l-up-4 .c-block:nth-child(4n) {
        border-right: none
    }

    .f .row.l-up-4 .c-block:nth-child(-n+4) {
        border-top: none
    }

    .f .row.l-up-4 .c-block:nth-last-child(-n+4) {
        border-bottom: none
    }
}

@@media print,screen and (min-width: 40em) {
    .f .row.m-up-5 .c-block.cs, .f .row.m-up-5 .c.c-block {
        border: 2px solid #fff
    }

    .f .row.m-up-5 .c-block:first-child, .f .row.m-up-5 .c-block:nth-child(5n+1) {
        border-left: none
    }

    .f .row.m-up-5 .c-block:last-child, .f .row.m-up-5 .c-block:nth-child(5n) {
        border-right: none
    }

    .f .row.m-up-5 .c-block:nth-child(-n+5) {
        border-top: none
    }

    .f .row.m-up-5 .c-block:nth-last-child(-n+5) {
        border-bottom: none
    }
}

.n .n-inner .w-header .u, .n .n-inner .w-header .u-special {
    margin-bottom: 2.5rem
}

.n .n-inner .header-info {
    margin: 0 auto;
    max-width: 1100px
}

.n .n-inner .n-stats {
    padding: 0 1rem
}

@@media print,screen and (min-width: 64em) {
    .n .n-inner .n-stats.l-up-1 .c:nth-child(-n+1), .n .n-inner .n-stats.l-up-1 .cs:nth-child(-n+1), .n .n-inner .n-stats.m-up-1 .c:nth-child(-n+1), .n .n-inner .n-stats.m-up-1 .cs:nth-child(-n+1) {
        margin-top: 0
    }
}

@@media print,screen and (min-width: 64em) {
    .n .n-inner .n-stats.l-up-2 .c:nth-child(-n+2), .n .n-inner .n-stats.l-up-2 .cs:nth-child(-n+2), .n .n-inner .n-stats.m-up-2 .c:nth-child(-n+2), .n .n-inner .n-stats.m-up-2 .cs:nth-child(-n+2) {
        margin-top: 0
    }
}

@@media print,screen and (min-width: 64em) {
    .n .n-inner .n-stats.l-up-3 .c:nth-child(-n+3), .n .n-inner .n-stats.l-up-3 .cs:nth-child(-n+3), .n .n-inner .n-stats.m-up-3 .c:nth-child(-n+3), .n .n-inner .n-stats.m-up-3 .cs:nth-child(-n+3) {
        margin-top: 0
    }
}

@@media print,screen and (min-width: 64em) {
    .n .n-inner .n-stats.l-up-4 .c:nth-child(-n+4), .n .n-inner .n-stats.l-up-4 .cs:nth-child(-n+4), .n .n-inner .n-stats.m-up-4 .c:nth-child(-n+4), .n .n-inner .n-stats.m-up-4 .cs:nth-child(-n+4) {
        margin-top: 0
    }
}

.n .n-inner .n-stats.l-up-1 .c .n-stat, .n .n-inner .n-stats.l-up-1 .cs .n-stat {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}

.n .n-inner .n-stats .c, .n .n-inner .n-stats .cs {
    position: relative;
    margin-top: 2rem
}

@@media print,screen and (min-width: 40em) {
    .n .n-inner .n-stats .c, .n .n-inner .n-stats .cs {
        margin-top: 4rem
    }
}

.n .n-inner .n-stats .c .n-stat, .n .n-inner .n-stats .cs .n-stat {
    position: relative;
    padding-left: 1rem
}

    .n:not(.b-yellow):not(.b-white):not(.b-gray):not(.b-gray-light):not(.b-light-gray) .n-inner .n-stats .c .n-stat.has-accent:before, .n .n-inner .n-stats .cs .n-stat.has-accent:before {
        content: "";
        top: 55px;
        left: -3rem;
        height: 1px;
        width: 100px;
        position: absolute;
        transform: rotate(-80deg);
        background: #f8f8f8
    }

    .n .n-inner .n-stats .c .n-stat .number, .n .n-inner .n-stats .c .n-stat .stat-text, .n .n-inner .n-stats .cs .n-stat .number, .n .n-inner .n-stats .cs .n-stat .stat-text {
        display: block;
        font-family: "Tungsten";
    }

    .n .n-inner .n-stats .c .n-stat .number, .n .n-inner .n-stats .cs .n-stat .number {
        font-size: 3rem;
        letter-spacing: 2px;
        font-weight: 600
    }

    .n .n-inner .n-stats .c .n-stat .stat-text, .n .n-inner .n-stats .cs .n-stat .stat-text {
        opacity: .7;
        font-size: 1.25rem;
        padding-bottom: 1rem;
        font-weight: 400;
        letter-spacing: 1px
    }

    .n .n-inner .n-stats .c .n-stat ol, .n .n-inner .n-stats .c .n-stat p, .n .n-inner .n-stats .c .n-stat span, .n .n-inner .n-stats .c .n-stat ul, .n .n-inner .n-stats .cs .n-stat ol, .n .n-inner .n-stats .cs .n-stat p, .n .n-inner .n-stats .cs .n-stat span, .n .n-inner .n-stats .cs .n-stat ul {
        font-size: .77rem
    }

    .n:not(.b-blue):not(.b-dots-gradient-blue):not(.b-gradient-blue):not(.b-blue-dark) .n-inner .n-stats .c .n-stat .text, .n .n-inner .n-stats .cs .n-stat .text {
        color: inherit;
        text-transform: uppercase;
        text-decoration: underline
    }

        .n .n-inner .n-stats .c .n-stat .text .fa-chevron-right, .n .n-inner .n-stats .cs .n-stat .text .fa-chevron-right {
            font-size: 14px;
            margin-left: 10px
        }

.n .n-inner .n-stats .c.hidden, .n .n-inner .n-stats .hidden.cs {
    display: none
}

@@media print,screen and (min-width: 40em) {
    .n .n-inner .n-stats .c.hidden, .n .n-inner .n-stats .hidden.cs {
        display: block
    }
}

.n .n-inner .cta-container .text {
    color: inherit
}

.n .n-inner .footer-info p {
    margin-bottom: 0
}

.n .n-inner .footer-info .cta-container {
    padding: 2.5rem 0 0
}

    .n .n-inner .footer-info .cta-container a {
        display: inline-block;
        margin: 0 10px
    }

@@media (max-width: 640px) {
    .n .n-inner .footer-info .cta-container a {
        margin: 2rem auto;
        display: block;
        max-width: 250px
    }
}

.n .n-inner .u, .n .n-inner .u-special {
    min-width: 250px
}

.n a.show-more {
    display: block;
    text-align: center;
    margin: 2.5rem auto 4rem;
    color: inherit;
    text-transform: uppercase;
    font-family: "Tungsten 6r","Tungsten A","Tungsten B";
    font-weight: 600;
    font-size: 1.75rem;
    vertical-align: middle;
    line-height: 1.75rem
}

    .n a.show-more i.fa {
        font-size: 1rem;
        vertical-align: inherit;
        line-height: inherit
    }

@@media print,screen and (min-width: 40em) {
    .n a.show-more {
        display: none
    }
}

.n.b-gray .n-stat.has-accent:before, .n.b-gray-light .n-stat.has-accent:before, .n.b-white .n-stat.has-accent:before {
    background: #000
}

@@media print,screen and (min-width: 64em) {
    .f .row.l-up-5 .c-block.cs, .f .row.l-up-5 .c.c-block {
        border: 2px solid #fff
    }

    .f .row.l-up-5 .c-block:first-child, .f .row.l-up-5 .c-block:nth-child(5n+1) {
        border-left: none
    }

    .f .row.l-up-5 .c-block:last-child, .f .row.l-up-5 .c-block:nth-child(5n) {
        border-right: none
    }

    .f .row.l-up-5 .c-block:nth-child(-n+5) {
        border-top: none
    }

    .f .row.l-up-5 .c-block:nth-last-child(-n+5) {
        border-bottom: none
    }
}

.u-special {
    font-family: Tungsten;
    font-weight: 600;
    font-size: 1.7777777778rem;
    line-height: .8;
    letter-spacing: 1px;
    vertical-align: middle;
    text-transform: uppercase;
    color: inherit;
}

.b-red-dark, .b-blue-dark, .b-gray-dark, .b-black, .b-rich-black, .ii .item .item-content h3::after {
    background: #fff;
}

.b-light-gray, .b-gray, .ii .item .item-content h3::after {
    background: #000;
}

.b-red {
    background: #D50019;
}

.b-blue {
    background: #1779ba;
}

.b-yellow {
    background: #FFD400;
}

.b-gray-light {
    background: #D9D9D9;
}

.b-gray {
    background: #8C8C8C;
}

.b-red, .b-blue {
    color: #fff;
}

.b-gray, .b-gray-light .u {
    color: #000;
    border: 1px solid #000;
}

.b-gradient-blue, .b-dots-gradient-blue {
    color: #fff;
    background-image: linear-gradient(to bottom,#003852,#0086D2);
}

.b-gradient-red, .b-dots-gradient-red {
    color: #fff;
    background-image: linear-gradient(to bottom,#A70E13,#D50019);
}

.b-gradient-red, .b-dots-gradient-red, .b-gradient-blue, .b-dots-gradient-blue .u {
    color: #fff;
    border-color: #fff;
}

.w.hide {
    display: none;
}

.b-red-dark {
    background: #A70E13;
}

.n .footer-info {
    margin-top: 2.5rem;
}

.b-dots-gradient-blue a:not(.u), .b-gradient-blue a:not(.u) {
    color: #fff;
    border-color: #fff;
}

.b-dots-gradient-blue:not(amp-sidebar) a:not(.u), .b-gradient-blue:not(amp-sidebar) a:not(.u) {
    color: #FFD400;
}

.b-yellow .u, .b-gray .u, .b-gray-light .u, .b-white .u {
    color: #000;
    border: 1px solid #000;
}

.w.hero.b-yellow .u-area .u, .w.hero.b-gray .u-area .u, .w.hero.b-gray-light .u-area .u {
    border-color: #000;
}

.b-gradient-blue a.text, .b-dots-gradient-blue a.text {
    color: #FFD400;
    text-decoration: none;
}

.accordion-item h4 {
    background: inherit;
    padding: 1.25rem 1rem;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

    .accordion-item h4:last-child {
        border-bottom: 1px solid #dfdfdf
    }

.accordion-item p {
    padding: 1.25rem 1rem;
}

.accordion-container .w-header, .accordion-container .accordion {
    margin-bottom: 1.5rem;
}

.accordion h4 .fa {
    color: inherit;
    float: right;
    margin-top: 3px;
}

.at {
    margin: 0 auto;
}

.sf-border {
    padding: 0;
    margin: 0;
    height: .3888888889rem
}

.callout-container {
    text-align: center;
    position: relative
}

    .callout-container p {
        font-size: 1.3rem;
        margin: 0;
        padding: 0
    }

.value-prop {
    padding: 2.5rem 0
}

@@media screen and (max-width: 39.9375em) {
    .value-prop .w-header h3 {
        font-size: 1.2777777778rem
    }
}

.value-prop .value-prop-items {
    padding-bottom: 1.25rem
}

@@media print,screen and (min-width: 40em) {
    .value-prop .value-prop-items > .row {
        padding-bottom: 2.5rem
    }
}

.value-prop .value-prop-items img {
    max-width: 100px;
    width: 100%;
    height: auto
}

.value-prop .value-prop-items .icon {
    text-align: right
}

.value-prop .value-prop-items h3 {
    text-decoration: underline;
    line-height: 1
}

    .value-prop .value-prop-items h3 sup {
        display: inline-block
    }

.media-slider .w-header {
    text-align: center;
}

.media-slider--slides {
    margin-bottom: 1.5rem;
}

    .media-slider--slides .caption {
        min-height: 105px;
    }

        .media-slider--slides .caption p {
            font-size: 16px;
        }

        .media-slider--slides .caption a {
            display: block;
        }

.media-slider .amp-carousel-button {
    top: 60%;
}

.content-slider .amp-carousel-button {
    top: 20%;
}

.b-blue p.copy, .b-blue-dark p.copy, .b-dots-gradient-blue p.copy, .b-gradient-blue p.copy {
    color: #fff;
}

.b-blue a.text, .b-blue-dark a.text, .b-dots-gradient-blue a.text, .b-gradient-blue a.text {
    color: #FFD400;
}

.b-blue a.text, .b-blue-dark a.text, .b-dots-gradient-blue a.text, .b-gradient-blue a.text {
    color: #FFD400;
}

.n.b-blue a.text, .n.b-blue-dark a.text, .n.b-dots-gradient-blue a.text, .n.b-gradient-blue a.text {
    text-decoration: underline;
}

.main-footer {
    padding-top: 2rem;
    padding-bottom: 0
}

@@media print,screen and (min-width: 40em) {
    .main-footer {
        padding-top: 3rem
    }
}

.main-footer > .row:not(.main-footer--bottom) {
    max-width: 1540px
}

.main-footer .main-footer--bottom {
    max-width: 100%
}

.main-footer .divider {
    height: 1px;
    background: rgba(255,255,255,.2);
    margin-top: 2rem
}

.main-footer .expander {
    width: 2%;
    float: right;
    color: #FFD400;
    font-size: 1rem;
    font-weight: 400;
    margin-top: -14px;
    padding-left: 7px;
    cursor: pointer
}

.main-footer .footer-column {
    margin-bottom: 1rem
}

    .main-footer .footer-column strong {
        font-family: "Tungsten";
        font-size: 1.2777777778rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px
    }

    .main-footer .footer-column ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

        .main-footer .footer-column ul li {
            margin-bottom: .35rem
        }

            .main-footer .footer-column ul li a {
                color: #fff;
                font-size: .8rem;
                opacity: .75
            }

                .main-footer .footer-column ul li a:focus, .main-footer .footer-column ul li a:hover {
                    opacity: 1
                }

.main-footer .logo {
    display: block;
    text-align: center;
    margin-bottom: 2rem
}

    .main-footer .logo img {
        max-width: 100%;
        width: 125px;
        height: 60px;
        min-height: unset;
        min-width: unset;
    }

.main-footer .footer-logo {
    display: none
}

@@media print,screen and (min-width: 40em) {
    .main-footer .footer-logo {
        display: block;
        text-align: center
    }
}

.main-footer .footer-logo img {
    max-width: 100%;
    margin-bottom: .75rem
}

.main-footer--disclaimer {
    padding: 2rem .8333333333rem
}

    .main-footer--disclaimer p {
        font-size: .7rem;
        margin: 0 0 .75em;
        line-height: 1.5;
        padding: 0
    }

    .main-footer--disclaimer a {
        color: #fff;
        opacity: .75;
        text-decoration: underline
    }

        .main-footer--disclaimer a:focus, .main-footer--disclaimer a:hover {
            opacity: 1
        }

.main-footer--bottom {
    background: #D50019;
    border-top: 7px #fff solid;
    max-width: 100%;
    padding: .5rem 0
}

@@media screen and (max-width: 39.9375em) {
    .main-footer--bottom {
        text-align: center;
        padding: 1.5rem 0
    }
}

.main-footer--bottom .copyright {
    display: block;
    float: none;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: .75rem;
    text-align: center
}

@@media screen and (min-width: 50em) {
    .main-footer--bottom .copyright {
        float: left;
        margin-bottom: 0;
        text-align: left
    }
}

.main-footer--bottom .menu {
    float: none;
    color: #fff;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@@media screen and (min-width: 50em) {
    .main-footer--bottom .menu {
        float: right;
        justify-content: right
    }
}

.main-footer--bottom .menu li a {
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: .7rem 1rem;
}

    .main-footer--bottom .menu li a:focus, .main-footer--bottom .menu li a:hover {
        opacity: .75
    }

@@media print,screen and (min-width: 64em) {
    .hide-for-l {
        display: none
    }
}

@@media screen and (max-width: 63.9375em) {
    .show-for-l {
        display: none
    }
}

.b-yellow amp-accordion h4,
.b-white amp-accordion h4,
.b-light-gray amp-accordion h4,
.b-gray amp-accordion h4,
.b-gray-light amp-accordion h4 {
    border: 1px solid #000;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.n.b-yellow .n-stat.has-accent:before,
.n.b-white .n-stat.has-accent:before,
.n.b-light-gray .n-stat.has-accent:before,
.n.b-gray .n-stat.has-accent:before,
.n.b-gray-light .n-stat.has-accent:before {
    content: "";
    top: 55px;
    left: -3rem;
    height: 1px;
    width: 100px;
    position: absolute;
    transform: rotate(-80deg);
    background: #000;
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 100000;
}

.top-level-nav {
    padding-top: .5rem;
}

.main-header .logo {
    margin-left: 10px;
}

.main-header .top-items {
    list-style: none;
    float: right;
    margin: 0;
    padding-left: 0;
}

    .main-header .top-items li {
        display: inline-block;
    }

.main-header .open-nav, .main-nav-call a {
    width: 95%;
    height: 44px;
    background: white;
    border: none;
    margin-right: 20px;
}

.main-nav-call {
    vertical-align: middle;
}

.menu-label {
    font-size: 9px;
    height: .5rem;
    line-height: 1;
    padding-top: .25rem;
    display: block;
    color: #000;
}

amp-sidebar {
    width: 100%;
}

    amp-sidebar .close-nav {
        float: right;
        padding: 9px;
        background: transparent;
        border: none;
        padding-top: 12px;
        margin-right: 1px;
    }

    .main-header .fa, amp-sidebar .fa-close {
        font-size: 1.5rem;
    }

.main-header .fa-bars, .main-header .fa-phone {
    color: #000;
}

amp-sidebar .fa-close {
    color: #FFD400;
}

amp-sidebar ul {
    list-style: none;
    padding: 2rem 3.5rem 0rem 1.25rem;
}

    amp-sidebar ul a {
        color: #fff;
        text-transform: uppercase;
        font-family: "Tungsten";
        font-size: 1.6667rem;
    }

    amp-sidebar ul li {
        margin-bottom: .5em;
    }

.main-nav-call .menu-label {
    padding-left: 3px;
    padding-top: 3px;
}

.main-nav-call a {
    margin-right: 0px;
}

.main-nav-call .fa-phone {
    vertical-align: middle;
}

.request-info {
    margin-right: 7px;
}

.request-info a {
    min-width: 0;
    color: #000;
    text-transform: unset;
    border: 1px solid #000;
    padding: .611rem .555rem;
    font-size: 14px;
    margin-bottom: 0;
}

.open-nav:focus {
    outline: none;
}

.caption figcaption {
    text-align: center;
}

@@media screen and (max-width:330px) {
    .request-info a {
        font-size: 11px;
    }
}

.open-nav .menu-label {
    padding-top: 3.5px;
}

.description.b-image .u.ttb {
    border: 1px solid #000;
    color: #000;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.sf-breadcrumb {
    color: #ffffff;
    background: #0169a4;
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    font-family: "Montserrat";
    font-size: 13px;
    overflow-y: auto;
}

.sf-breadcrumb .breadcrumb-inner:before {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1;
}

.sf-breadcrumb .breadcrumb-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1540px;
}

.sf-breadcrumb .breadcrumb-inner nav {
    width: 100%;
    float: left;
    padding-right: .5555555556rem;
    padding-left: .5555555556rem;
}

.sf-breadcrumb li {
    text-transform: capitalize;
    line-height: 2.25;
    vertical-align: middle;
    display: inline-block;
    font-family: "Montserrat";
}

.sf-breadcrumb li::after {
    color: rgba(255, 255, 255, 0.65);
}

.sf-breadcrumb li span, .sf-breadcrumb li a {
    font-family: "Montserrat";
    font-size: 13px;
}

.sf-breadcrumb li span {
    color: #ffffff;
}

.sf-breadcrumb li a {
    color: rgba(255, 255, 255, 0.65);
}

.sf-breadcrumb li a:hover, .sf-breadcrumb li a:focus {
    color: #ffffff;
}


.breadcrumbs {
    margin: 0;
    list-style: none;
    padding-left: 0px;
}

.breadcrumbs::after, .breadcrumbs::before {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1
}

.breadcrumbs::after {
    clear: both
}

.breadcrumbs li {
    float: left;
    font-size: .8rem;
    color: #0a0a0a;
    cursor: default;
}

.breadcrumbs li:not(:last-child)::after {
    position: relative;
    margin: 0 .75rem;
    opacity: 1;
    content: "/";
    color: #cacaca
}

.breadcrumbs a {
    color: #1779ba
}

.breadcrumbs a:hover {
    text-decoration: underline
}

.breadcrumbs .disabled {
    color: #cacaca;
    cursor: not-allowed
}

    .filter-cards.related-story-cards {
        padding-bottom: 2.5rem;
    }

    .filter-cards .filter-by-descriptor {
        font-size: 16px;
    }

.filter-cards--results {
    padding: 1.5rem 0;
}

    .filter-cards--results.hide-stories > .column:nth-child(n+7) {
        display: none;
    }

    .filter-cards--results .filter-card {
        position: relative;
        border: 1px solid #8C8C8C;
        margin-bottom: 1.5rem;
    }

        .filter-cards--results .filter-card .type-icon {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            background: #D50019;
            z-index: 2;
        }

    .filter-cards--results .filter-card--content {
        padding: 1rem 1.5rem;
        text-align: center;
    }

        .filter-cards--results .filter-card--content a.button {
            width: 100%;
        }

.filter-cards .show-more-button {
    display: block;
    background: none;
    color: #000;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    margin: 0 auto 1.5rem;
    font-weight: 600;
    font-size: rem-calc(32);
    font-family: "Tungsten", "Montserrat";
    text-transform: uppercase;
}

.slide-cta {
    display: block;
    width: auto;
    width: fit-content;
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: 'Tungsten';
    font-weight: 600;
    font-size: 1.6rem;
    vertical-align: middle;
    line-height: 1.6rem;
    text-decoration: underline;
    color: #fff;
}

.slide-cta i.fa {
    font-size: 1rem;
    vertical-align: inherit;
    line-height: inherit;
    color: inherit;
}

.b-gray .slide-cta, .b-gray-light .slide-cta, .b-light-gray .slide-cta, .b-white .slide-cta, .b-yellow .slide-cta {
    color: #000;
}

.b-gray .slide-cta i.fa, .b-gray-light .slide-cta i.fa, .b-light-gray .slide-cta i.fa, .b-white .slide-cta i.fa, .b-yellow .slide-cta i.fa {
    color: #000;
}

