﻿.button {
    position: relative;
    color: white;
    padding: 0.9rem;
    border: 1px solid $white;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: rem-calc(16);
    border-width: 1px;
    z-index: 1;

    &:not(.four) {
        min-width: 220px !important;
    }

    @include breakpoint(large) {
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        width: auto;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
    }

    &:hover {
        color: white !important;
        background-color: transparent !important;
        border: 1px solid $red;
        // bottom to top default
        text-shadow: none;

        &:before {
            @include breakpoint(large) {
                top: auto;
                left: 0;
                bottom: 0%;
                right: 0;
                height: 100%;
                width: 100%;
            }
        }
    }

    &:before {
        @include breakpoint(large) {
            display: block;
            position: absolute;
            z-index: -1;
            content: '';
            @include gradient("to bottom", $red, $dark-red);
            // bottom to top default
            top: 0;
            left: 0;
            bottom: auto;
            right: auto;
            height: 0;
            width: 100%;
            transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        }
    }

    &:disabled, &.disabled {
        background-color: transparent;
    }
    /* Top to Bottom */
    &.ttb {
        @include breakpoint(large) {
            transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        }

        &:hover {
            text-shadow: ntwo;

            &:before {
                @include breakpoint(large) {
                    top: 0%;
                    bottom: auto;
                    height: 100%;
                }
            }
        }

        &:before {
            top: auto;
            bottom: 0;
            height: 0;
            transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        }
    }
    /* Left to Right */
    &.ltr {
        @include breakpoint(large) {
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
        }

        &:hover {
            text-shadow: nthree;

            &:before {
                @include breakpoint(large) {
                    top: 0;
                    left: 0%;
                    bottom: 0;
                    right: auto;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &:before {
            top: 0;
            left: auto;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 0;
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
        }
    }
    /* Right to Left */
    &.rtl {
        @include breakpoint(large) {
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
        }

        &:hover {
            text-shadow: nfour;

            &:before {
                @include breakpoint(large) {
                    top: 0;
                    left: auto;
                    bottom: 0;
                    right: 0%;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &:before {
            top: 0;
            left: 0;
            bottom: 0;
            right: auto;
            height: 100%;
            width: 0;
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
        }
    }
}

a.text-link,
a.text {
    border: none;
    padding: unset;
    transition: all 150ms ease-in-out;

    &:hover, &:focus {
        background-color: transparent;
        color: $light-blue;
    }
}

.button-special {
    @extend .button;
    font-family: 'Tungsten';
    font-weight: 600;
    font-size: rem-calc(32) !important;
    line-height: .8;
    letter-spacing: 1px;
    vertical-align: middle;

    .fa {
        font-size: .65em;
        vertical-align: bottom;
        line-height: 1;
        padding-left: .5rem;
    }
}
