﻿.main-footer {
    padding-top: 2rem !important;
    padding-bottom: 0 !important;
    .main-footer--bottom .small-12{
        max-width: 1470px;
    }

    @include breakpoint (medium) {
        padding-top: 3rem !important;
    }

    > .row:not(.main-footer--bottom) {
        max-width: 1540px;
    }

    .main-footer--bottom {
        max-width: 100%;
    }

    .divider {
        height: 1px;
        background: rgba(255,255,255,0.2);
        margin-top: 2rem;
    }

    .expander {
        width: 2%;
        float: right;
        color: $yellow;
        font-size: 1rem;
        font-weight: 400;
        margin-top: -14px;
        padding-left: 7px;
        cursor: pointer;
    }

    .footer-column {
        margin-bottom: 1rem;

        strong {
            font-family: "Tungsten";
            font-size: rem-calc(23);
            font-weight: 300;
            text-transform: uppercase;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: .35rem;

                a {
                    color: white;
                    font-size: .8rem;
                    opacity: .8;

                    &:hover, &:focus {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .logo {
        display: block;
        text-align: center;
        margin-bottom: 2rem;

        img {
            max-width: 100%;
        }
    }

    .footer-logo {
        display: none;

        @include breakpoint (medium) {
            display: block;
            text-align: center;
        }

        img {
            max-width: 100%;
            margin-bottom: .75rem;
        }
    }

    &--disclaimer {
        padding: 2rem .8333333333rem;

        p {
            font-size: .7rem;
            margin-top: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: .75em !important;
            line-height: 1.5 !important;
            padding: 0;
        }

        a {
            color: #fff;
            opacity: 0.75;
            text-decoration: underline;

            &:hover, &:focus {
                opacity: 1;
            }
        }
    }

    &--bottom {
        background: $red;
        border-top: 7px white solid;
        max-width: 100%;
        padding: .5rem 0;

        @include breakpoint (small only) {
            text-align: center;
            padding: 1.5rem 0;
        }

        .copyright {
            display: block;
            float: none;
            padding: .5rem 0;
            margin-bottom: 1rem;
            font-weight: 500;
            font-size: .75rem;
            text-align: center;

            @include breakpoint (800px) {
                float: left;
                margin-bottom: 0;
                text-align: left;
            }
        }

        .menu {
            float: none;
            color: white;
            justify-content: center;

            @include breakpoint (800px) {
                float: right;
                justify-content: right;
            }

            li {

                a {
                    color: white;
                    font-size: .75rem;
                    font-weight: 500;

                    &:hover, &:focus {
                        opacity: 0.75;
                    }
                }
            }
        }
    }
}
