﻿.rdContent .main-header {
    display: none;
}

.menu-open {
    @include breakpoint(small only) {
        margin: 0;
        height: 100%;
        overflow: hidden !important;
    }
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    transition: top .25s ease-in-out;
    -moz-transition: top .25s ease-in-out;
    -webkit-transition: top .25s ease-in-out;

    &::after {
        content: "";
        opacity: 0;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    &.white {
        background: rgba(255,255,255, .95);
        /*background: url('/ResourcePackages/Foundation/assets/src/images/NAV_BG.jpg');
        background-position: center center;
        background-size: cover;
        background-color: transparent;*/
        color: $black;

        @include breakpoint(small only) {
            background: white;
        }

        .logo {

            img {
                /*height: 54px !important;
                width: auto !important;

                @include breakpoint(small only) {
                    height: rem-calc(44);
                    width: auto;
                }*/
            }

            &--white {
                display: none !important;
            }

            &--black {
                display: block !important;
            }
        }

        .top-level-nav > ul li,
        .top-level-nav > ul li a {
            color: $black;
        }

        .button {
            border-color: $black !important;
            background-color: transparent !important;
            color: $black;

            &:hover {
                color: white;
                border-color: $red !important;
            }
        }

        .top-level-nav > ul li.divider {
            background-color: $black;
        }
    }

    &.close .off-canvas-main-nav {
        visibility: visible !important;
    }

    &.open {

        @include breakpoint(small only) {
            /*background: url('/ResourcePackages/Foundation/assets/src/images/NAV_BG.jpg');
            background-position: center center;
            background-size: cover;*/
            background-color: white;
            color: $black;


            .logo {
                &--white {
                    display: none !important;
                }

                &--black {
                    display: block !important;
                }
            }

            .top-level-nav > ul li,
            .top-level-nav > ul li a {
                color: $black;
            }

            .button {
                background-color: transparent;
                border-color: $black !important;
                color: $black;

                &:hover {
                    color: white;
                }
            }

            .top-level-nav > ul li.divider {
                background-color: $black;
            }
        }

        .off-canvas-main-nav {
            right: 0;
            visibility: visible !important;

            @include breakpoint(medium) {
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
            }

            @include keyframes(open-nav) {
                0% {
                    right: -400px;
                }

                100% {
                    right: 0;
                }
            }

            @include breakpoint(medium) {
                @include animation('open-nav 500ms');
            }
        }
    }

    .top-level-nav {
        display: block;
        padding: .5rem rem-calc(10);
        width: 100%;

        @include breakpoint(medium) {
            padding: 1rem;
        }

        @include breakpoint(small only) {
            height: 72px;

            ul {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                li a {
                    display: block;
                }
            }
        }

        .logo {
            display: block;
            float: left;

            @include breakpoint(medium) {
                margin-top: -.5em;
            }

            @include breakpoint(small only) {
                margin-top: .33rem;
            }

            .logo--black {
                display: none;
            }

            .logo--white {
                display: block;
            }

            img {
                height: auto;
                width: 160px;

                @include breakpoint(small only) {
                    height: rem-calc(44);
                    width: auto;
                }
            }
        }

        .phone {
            i.fa {
                font-size: 1.5em;
                line-height: 1rem;
                margin-right: .25em;
                vertical-align: middle;
            }
        }

        .button {
            text-transform: none;
            margin-bottom: 0;
            padding: rem-calc(11) rem-calc(10);
            border-color: white;
            min-width: 0 !important;
            background: rgba(0,0,0,0.2);

            &:hover {
                opacity: 1;
                color: white;
            }

            @include breakpoint(small only) {
                padding: rem-calc(11) rem-calc(10);
                font-size: rem-calc(14);
            }
        }

        .close-nav {
            @include breakpoint(small only) {
                color: white;
            }
        }

        ul {
            margin: 0;
            padding: 0;
        }

        > ul {
            text-align: right;

            @include breakpoint(small only) {
                width: 66%;
                float: right;
            }

            li {
                display: inline-block;
                vertical-align: middle;
                color: white;
                height: 3rem;
                font-size: rem-calc(15);
                line-height: 3rem;

                @include breakpoint(small only) {
                    height: auto;
                }

                &:not(:first-child) {
                    margin-left: .5rem;

                    @include breakpoint(medium) {
                        margin-left: 1rem;
                    }
                }

                &.divider {
                    background: white;
                    width: 1px;
                    height: 2.4rem;

                    @include breakpoint(small only) {
                        display: none;
                    }
                }

                &.nav-menu-icon {
                    @include breakpoint(medium down) {
                        padding-top: .2rem;
                    }


                    @include breakpoint(small only) {
                        padding-top: 0;
                        min-width: 1.8rem;
                    }

                    i.fa,
                    span {
                        display: block;
                        text-align: center;

                        @include breakpoint(large) {
                            display: inline-block;
                        }
                    }

                    i.fa-bars {
                        @include breakpoint(large) {
                            margin-left: .5rem;
                        }
                    }

                    i.fa {
                        font-size: 1.5rem;
                        height: 1em;

                        @include breakpoint(large) {
                            height: 1rem;
                            line-height: 1rem;
                            vertical-align: middle;
                        }
                    }

                    i + span {
                        font-size: 9px;
                        height: .5rem;
                        line-height: 1;
                        padding-top: .25rem;

                        @include breakpoint(medium) {
                            height: 1rem;
                            line-height: 1.5rem;
                        }
                    }
                }

                a {
                    color: white;
                    font-size: rem-calc(15);
                    font-weight: 500;

                    &:hover, &:focus {
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    .off-canvas-main-nav {
        position: fixed;
        top: 4rem;
        width: 100%;
        height: 100%;
        z-index: 1002;
        right: -100%;
        transform: rotateZ(360);
        -webkit-transform: rotateZ(360);
        backface-visibility: hidden;
        overflow: auto;

        @include gradient("to bottom right", #0a5981, #033751);

        @include breakpoint(medium) {
            padding-top: 5rem;
            top: 0;
            max-width: 350px;
        }

        @include keyframes(close-nav) {
            0% {
                right: 0;
            }

            100% {
                right: -400px;
            }
        }

        @include animation('close-nav 500ms');

        .close-nav {
            position: absolute;
            color: white;
            font-size: 1.5rem;
            top: 1.75rem;
            right: 1.5rem;
            line-height: 1;

            @include breakpoint(small only) {
                display: none;
            }
        }

        > .vertical.menu:not(.drilldown) {
            display: none;
        }

        .drilldown-title {
            display: inline-block;
            color: white;
            padding: 0 1.5rem;
            font-size: rem-calc(30);
            font-family: Tungsten, Arial, sans-serif;
            text-transform: uppercase;
            opacity: 1;
        }

        .submenu-last {
            li:not(.js-drilldown-back) {
                a {
                    color: white;
                    max-width: 100%;
                    font-family: 'Montserrat';
                    font-size: rem-calc(16);
                    text-transform: none;

                    &.no-gc {
                        padding: 0px;

                        .drilldown-title {
                            line-height: 1.6;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .fa-plus {
            color: $yellow;
        }

        ul {
            list-style: none;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: .2rem 0 1rem 0;

            li {
                width: 100%;
                display: block;
                margin-bottom: .5rem;

                @include clearfix();

                ul {
                    @include gradient("to bottom right", #0a5981, #033751);
                }

                > a:first-child {
                    float: left;
                }

                > a:nth-child(2) {
                    float: right;
                    max-width: 25%;
                    margin: 0;

                    @include breakpoint(small only) {
                        padding-right: 1.5rem;
                        padding-left: 0;
                    }

                    @include breakpoint(medium) {
                        padding-right: 27px;
                    }
                }

                a:first-child {
                    opacity: .8;
                    display: block;
                    max-width: 75%;
                    white-space: normal;

                    @include breakpoint(medium) {
                        margin-left: 0;
                        margin-right: 0;
                        padding-left: 27px;
                        width: 100%;
                        max-width: 75%;
                    }

                    &:hover {
                        opacity: 1;
                    }

                    &.active {
                        opacity: 1;
                        text-decoration: underline;
                    }
                }

                a {
                    background: transparent;
                    display: inline-block;
                    padding: .25rem .5rem;
                    line-height: 1em;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    font-size: rem-calc(30);
                    font-family: Tungsten, Arial, sans-serif;
                    text-transform: uppercase;
                    color: white;

                    & i {
                        font-size: 1rem;
                        display: block;
                        height: 1rem;
                        margin-top: .4rem;
                    }
                }

                &.js-drilldown-back {
                    background: #043752;

                    &:hover {
                        cursor: pointer;
                    }

                    > a {
                        background: transparent;
                        opacity: 1;
                        padding: .5rem 1.5rem;
                        line-height: initial;
                        margin-left: 0;
                        margin-right: 0;

                        &::before {
                            content: "\f053";
                            color: $yellow;
                            height: 1.2rem;
                            margin-right: 1.5rem;
                            font-family: "FontAwesome";
                            font-size: 1rem;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .is-drilldown {
        height: 100%;
    }

    .drilldown .is-drilldown-submenu-parent > a::after {
        display: none;
    }
}

.nav-search--small-form--container {
    @include breakpoint(medium) {
        display: none;
    }
}
.nav-search--small-form {
    padding: 1rem 1.5rem .5rem;

    @include breakpoint(medium) {
        display: none;
    }

    .nav-search--small-form--container {
        position: relative;
        width: 100%;
        padding: .5rem;
        border: 1px solid white;
        font-size: 1rem;

        input.small-search {
            color: $white;
            background-color: transparent;
            height: 1.5em;
            width: 100%;
            margin: 0;
            border: none;
            outline: none;
            box-shadow: none;
            font-size: 16px;
            padding: 0 2rem 0 8px;

            &:-ms-clear {
                display: none;
            }

            &::-ms-clear {
                display: none;
            }

            &::-webkit-input-placeholder {
                color: rgba(255,255,255,0.5);
            }

            &:-ms-input-placeholder {
                color: rgba(255,255,255,0.5);
            }

            &::-ms-input-placeholder {
                color: rgba(255,255,255,0.5);
            }
        }

        button {
            color: white;
            right: .75rem;

            @include vertical-center;

            i {
                font-size: 1rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.nav-search {
    display: none;

    &.open {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        @include gradient("to bottom right", rgba($light-blue, 0.95), rgba($dark-blue, 0.95));
    }

    &--form {
        @include absolute-center;
        width: 60%;

        input.search {
            color: $white;
            font-size: 2.5rem;
            background-color: transparent;
            border: none;
            font-family: Tungsten;
            border-bottom: 2px solid white;
            outline: none;
            height: 1.5em;
            box-shadow: none;

            &:-ms-clear {
                display: none;
            }

            &::-ms-clear {
                display: none;
            }

            &::-webkit-input-placeholder {
                color: rgba(255,255,255,0.5);
            }

            &:-ms-input-placeholder {
                color: rgba(255,255,255,0.5);
            }

            &::-ms-input-placeholder {
                color: rgba(255,255,255,0.5);
            }
        }

        button {
            color: white;
            right: 1.2em;

            @include vertical-center;

            i {
                font-size: 1.5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .nav-search-close {
        top: 1rem;
        right: 1rem;
        position: fixed;
        font-size: 1.5rem;

        i.fa-close {
            color: $white !important;
        }
    }
}
.header {
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: top .25s ease-out;
    transition: top .25s ease-out;
    &.scrolled {
       
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
    }
  }
  
  .header-top-section {
    background: #e6e6e6;
  }
  
  .header_container {
     max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
 
  .links {
    height: 26px;
    text-align: right;
    a {
      font: 500 13px 'Montserrat', Arial, Helvetica, sans-serif;
      display: inline-block;
      color: #262626;
      position: relative;
      text-decoration: none;
      vertical-align: top;
      &.chat{
        padding: 5px 37px 1px 24px;
        background: #018ed5;
        color: #fff;
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        letter-spacing: 0.01em;
        margin-left: .5px;
        &> span {
          -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
          display: inline-block;
          &:before{
            content: '';
            width: 18px;
            height: 16px;
            background: url(/ResourcePackages/Foundation/assets/dist/images/chat_now.svg) no-repeat center center;
            background-size: 18px 15px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            position: relative;
            top: -2px;
          }
        }
      }
      &.enroll{
        padding: 4px 34px 2px 22px;
        background: #ee2324;
        color: #fff;
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        letter-spacing: -0.02em;
        &> span {
          -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
          display: inline-block;
          &:before{
            content: '';
            width: 18px;
            height: 16px;
            background: url(/ResourcePackages/Foundation/assets/dist/images/enroll_now.svg) no-repeat center center;
            background-size: 14px 13px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            position: relative;
            top: -3px;
          }
        }
      }
      &[href*="tel:"] {
        padding: 4px 12px 4px 15px;
      }
      &.req-info {
        padding: 4px 26px 2px 18px;
        background: #cccccc;
        color: #000;
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        letter-spacing: 0;
        margin-left: 1.5px;
        > span {
          -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
          display: inline-block;
          // &:before {
          //   content: '\f0f6';
          //   font-family: 'fontAwesome';
          //   display: inline-block;
          //   margin-right: 9px;
          //   font-weight: normal;
          // }
          &:before{
            content: '';
            width: 18px;
            height: 16px;
            background: url(/ResourcePackages/Foundation/assets/dist/images/request_info.svg) no-repeat center center;
            background-size: 14px 14px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
            position: relative;
            top: -2px;
          }
        }
      }
      &[href*="tel:"]:before {
        content: '\f095';
        font-family: 'fontAwesome';
        display: inline-block;
        margin-right: 5px;
        font-size: 16px;
        margin-top: -1px;
        position: relative;
        top: 0px;
      }
    }
  }
  
  .header-bottom-section .header_container {
    padding: 5px 0;
    position: relative;
 
  }
  .enroll:hover span, .req-info:hover span, .chat:hover span{
  	text-decoration: underline;
  }
  .separator-line{
    width: 2px;
    height: 42px;
    background: #fff;
    position: absolute;
    top: 17px;
    right: 87px;
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
  }
  .header-bottom-section {
    .back-overlay{
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      background: rgba(4,70,107,.98);

      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      height: 600px;
    }
    &.active-overlay{
      .back-overlay{
        opacity: .98;
        visibility: visible;
      }
    }
  }
  
  .mega-menu {
    width: 100%;
    // background: rgba(4, 70, 104, 0.98);
    // border-bottom: 4px solid #27688a;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
 
  }
  
  .mega-dd {
    position: static;
  }
  
  .header_container {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .logo {
      float: left;
      margin: 0px 0 0px 16px;
      position: relative;
      z-index: 1;
      img{
        width: 166px;
      }
    }
  }
  
  .header-right-section {
    float: right;
    position: relative;
    z-index: 1;
  }
  
  
  .main_navigation {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    > li {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 28px;
      position: relative;
      &:hover{
        &>a>span{
          opacity: 0;
        }
        &>a:after{
          opacity: 1;
        }
      }
      &.active{
        &>ul{
          opacity: 1;
          visibility: visible;
        }
        &>a span{
          opacity: 0;
        }
        &>a:after{
          opacity: 1;
        }
      }
      > a {
        padding: 24px 26.5px;
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        color: #fff;
        margin-left: 1px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        letter-spacing: 0.02em;
        position: relative;
        &:after{
          content: attr(data-text);
          font-size: 27px;
          font-family: Tungsten;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 100%;
          opacity: 0;
          text-align: center;
          letter-spacing: 0.07em;
        }
      }
      &.active > a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  
  .searchicon {
    font-size: 22px;
    padding: 15px 16px 15px 14px;
    color: #fff;
    display: inline-block;
    line-height: 28px;
    float: right;
    text-align: center;
    margin-left: 34px;
    span{
      display: block;
      font-size: 10px;
      font-family: 'Montserrat';
      font-weight: 400;
      line-height: 17px;
      color: #D6D6D6;
    }
  }
  
  .main_navigation > li {
    > ul {
      margin: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        font-family: 'Tungsten', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        > a {
          color: #fff;
          text-decoration: none;
          display: block;
          padding: 10.5px 5px 10.5px 18px;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          letter-spacing: 0.05em;
        }
        &:not(:last-child) > a {
          // border-bottom: 1px solid rgba(160, 185, 197, 0.2);
        }
      }
    }
  }
  
  .menu-section {
    padding: 0;
    margin: 0;
    list-style: none;
    ul {
      margin: 0;
      padding: 8px 0px 0 11px;
      list-style: none;
    }
  }
  
  .col-4 {
    width: 25%;
  }
  
  .menu-section > li {
    font: normal 27px 'Tungsten', Arial, Helvetica, sans-serif;
    line-height: 34px;
    padding: 6px 16px 4px;
    // + li {
    //   border-top: 1px solid #235d7b;
    // }
    > {
      a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.05em;
        display: block;
      }
      ul > li {
        font: normal 14px 'Monserrat', Arial, Helvetica, sans-serif;
        line-height: 18px;
        padding: 7px 0;
        letter-spacing: 0.05em;
        position: relative;
        &:after{
          width: 5px;
          height: 5px;
          background: #008dd4;
          content: '';
          position: absolute;
          top: 13px;
          left: -11px;
        }
        > a { 
          color: rgba(255, 255, 255, 0.8);
          text-decoration: none;
          
        }
      }
    }
  }
  
  // .mega-menu .col-4 {
  //   border-left: 1px solid #235d7b;
  // }
  
  .catalog-menu {
    padding: 20px;
    img {
      max-width: 100%;
      display: block;
    }
    h3 {
      font: normal 24px 'Tungsten', Arial, Helvetica, sans-serif;
      line-height: 1.2;
      color: #fff;
      margin: 0 0 11px;
      letter-spacing: 0.08em;
    }
    > {
      h3 > a {
        color: inherit;
      }
      a {
        display: block;
        margin-bottom: 12px;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    p {
      margin: 0;
      font: normal 13px 'Montserrat', Arial, Helvetica, sans-serif;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.8);
      letter-spacing: 0.01em;
      padding-right: 23px;
    }
  }
  
  .two-collumn {
    display: flex;
    width: 562px;
    .menu-section > li{
      font-size: 27px;
      padding: 9px 8px 6px;
      &>a{
        letter-spacing: 0.035em;
      }
    }
    .menu-section ul{
      padding: 18px 0px 0 9px;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  
  .menu-section-wrapper {
    width: 50%;
  }
  
  .two-collumn .catalog-menu {
    width: 237px;
    padding: 12px 21px 21px;
    margin-left: auto;
  }
  
  .main_navigation > li:last-child > ul {
    right: 0;
    left: auto;
  }
  
  .three-collumn {
    // background: rgba(4, 70, 107, 0.98);
    display: flex;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .menu-section-wrapper{
      width: 40%;
    }
    .menu-section-wrapper:nth-child(2){
      width: 36.3%;
    }
    .catalog-menu {
      width: 37%;
      padding: 10px 11px;
      a{
        margin-bottom: 12px;
      }
      h3{
        letter-spacing: 0.06em;
        margin: 0 0 7px 0px;
        font-size: 27px;
      }
    }
    .menu-section > li{
      font-size: 27px;
      line-height: 34px;
      padding: 3px 24px 7px;
    }
  }
  
  // .sm-menu {
  //   background: rgba(4, 70, 107, 0.98);
  // }
  
  .down-arrow {
    height: 50px;
    width: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0;
    color: #fed330;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  
  .searchform {
    position: absolute;
    width: 100%;
    background: #043752;
    z-index: 100;
    top: 0;
    display: none;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 45px;
    button[type="submit"] {
      background: none;
      border: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 54px;
      height: 46px;
      color: #fff;
      font-size: 22px;
      cursor: pointer;
    }
    input {
      &[type="search"] {
        height: 47px;
        width: 100%;
        border: 1px solid #3c6f8a;
        background: none;
        margin: 0;
        font: normal 16px 'Montserrat', Arial, Helvetica, sans-serif;
        color: #fff;
        background: #043752;
        z-index: 1;
        padding: 0 13px;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    button:focus {
      outline: none;
    }
    ::-webkit-input-placeholder {
      color: #fff;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }
    :-ms-input-placeholder {
      color: #fff;
    }
  }
  
  .search-input {
    position: relative;
  }
  
  .searchform button[type="button"] {
    position: absolute;
    right: 5px;
    top: 19px;
    color: #fff;
    background: none;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    height: 44px;
    width: 40px;
    i{
      display: none;
    }
    background: url(/ResourcePackages/Foundation/assets/dist/images/cancel_white.svg) no-repeat center center;
  }
  
  .anchor-links {
    -webkit-transition: all 0.29s ease-out;
    transition: all 0.29s ease-out;
  }
  .float-icon{
    width: 66px;
    position: fixed;
    bottom: 48px;
    right: 0;
    z-index: 100;
    a{
      width: 100%;
      height: 60px;
      display: flex;
      align-content: center;
      justify-content: center;
      color: #fff;
      flex-direction: column;
      text-align: center;
      img{
        margin: 0 auto;
      }
      span{
        display: block;
        font-size: 9px;
        line-height: 12px;
        margin-top: 3px;
      }
      &.enroll-icon{
        background: #ed2223;
        box-shadow: -2px 3px 4px rgba(0,0,0,.3);
        img{
          width: 24px;
        }
      }
      &.chat-icon{
        background: #008dd4;
        margin-top: 24px;
        box-shadow: -2px 3px 4px rgba(0,0,0,.3);
        img{
          width: 27px;
        }
      }
    }
  }
 
  @media screen and (max-width: 1450px) {
    .header .searchform button[type="button"]{
      right: 33px !important;
    }
  }
  @media screen and (max-width: 1300px) and (min-width: 1024px) {
    .main_navigation > li>a{
      padding-left: 9px;
      padding-right: 9px;
    }
    .searchicon{
      margin-left: 8px;
      padding: 15px 11px 15px 14px;
    }
    .separator-line{
      right: 58px;
    }
    .header_container .logo{
      margin-left: 10px;
    }
    .main_navigation .mega-menu{
      padding-left: 0;
      padding-right: 0;
      width: 740px;
      margin-left: -7px;
    }
    .header-bottom-section .back-overlay{
      height: 670px;
    }
    .two-collumn{
      width: 510px;
    }
    .main_navigation > li > a:after{
      white-space: nowrap;
      letter-spacing: 0;
    }
    .header-bottom-section .back-overlay{
      left: 0;
    }
    .main_navigation > li > ul > li > a{
      padding-left: 7px;
    }
    .mega-menu .menu-section > li{
      padding: 6px 10px 10px;
    }
    .mega-menu .catalog-menu{
      width: 233px !important;
    }
    .two-collumn .menu-section > li{
      padding-left: 5px;
      padding-right: 5px;
    }
    .main_navigation {
      .two-collumn{
        width: 500px;
      }
      .mega-menu .menu-section > li{
        padding: 6px 7px 10px 14px;
      }
    }
    .header .searchform .search-input{
      margin-top: 190px;
    }
    .header .searchform{
      align-items: flex-start !important;
    }
    .links a[href*="tel:"]{
      padding-right: 18px;
    }
  }
  
  
  @media screen and (min-width: 1024px) {
    .searchicon:hover {
      color: rgba(255, 255, 255, 1);
    }
    .main_navigation > li:hover > a {
      color: rgba(255, 255, 255, 1);
      // background: #05537a;
    }
   .menu-section > li > a:hover {
    color: #fff;
    text-decoration: underline; }


    .call_phone:hover {
    	text-decoration: underline;
    }



      .menu-section > li > ul > li:hover > a, .menu-section > li > ul > li > a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline; }
    .main_navigation > li {
      > ul {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        left: 0;
        width: 270px;
      }
      &.active > .sub_menu {
        visibility: visible;
        opacity: 1;
      }
    }
    .mega-menu {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 100%;
      left: 0;
      display: flex;
      width: 100%;
      padding: 0 7px 0 21px;
      .col-4{
        width: 23.4%;
        &:nth-child(2){
          width: 28.2%;
        }
        &:nth-child(3){
          width: 26%;
        }
      }
      .catalog-menu{
        padding: 13px 6px 13px 13px;
      }
      .menu-section > li{
        padding: 6px 16px 10px;
      }
    }
    .sub_menu {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .main_navigation > li {
      &:hover > {
        ul, .mega-menu, .sub_menu {
          visibility: visible;
          opacity: 1;
        }
      }
      > ul > li > a:hover {
        text-decoration: underline;
      }
    }
    .three-collumn {
      width: 768px;
      margin: 0 auto;
    }
    .down-arrow {
      display: none;
    }
    .main_navigation > li {
      float: left;
      &.mega-dd{
        position: static;
      }
      &:nth-child(4) .two-collumn{
        left: 10px;
      }
    }
    .two-collumn {
      width: 560px;
      position: absolute;
      top: 100%;
      left: 0;
    }
    .sm-menu {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1000;
      width: 444px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      padding-right: 15px;
  
      .menu-section{
        width: 200px;
        padding-top: 12px;
        &>li{
          padding: 6px 16px 10px;
          font-size: 27px;
          letter-spacing: 0.03em;
        }
      }
      .catalog-menu {
        padding: 10px 18px;
        width: 232px;
        margin-left: auto;
        >a{
          margin-bottom: 11px;
        }
        h3{
          font-size: 27px;
          margin: 0 0 8px;
          letter-spacing: 0.05em;
        }
        p{
          padding-right: 0;
        }
      }
    }
    .main_navigation > li:first-child > a {
      display: none;
    }
    .sub_menu {
      display: flex !important;
    }
    ul.sub_menu{
      flex-direction: column;
    }
    [class="sub_menu"], [class="sm-menu sub_menu"] {
      display: flex !important;
    }
    .mobile-logo {
      display: none;
    }
    .header-bottom-section {
      display: block !important;
    }
    .menu-btn {
      display: none;
    }
    .three-collumn .menu-section > li + li {
      margin-top: -1px;
    }
    .searchform {
      right: 0;
      max-width: 820px;
    }
    .location-menu {
      
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 660px;
      
    }
    .main_navigation > li:last-child > ul{
      width: 230px;
    }
    .main_navigation > li:last-child > ul > li{
      font-size: 27px;
      line-height: 29px;
    }
    .header .searchform{
      position: fixed;
      top: 26px;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(4, 70, 107, 0.98);
      display: block;
      width: auto;
      max-width: none;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
      .search-input{
        width: 826px;
      }
      input[type="search"]{
        font-size: 48px;
        font-family: Tungsten;
        background: none;
        border: 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.65);
        height: 73px;
        padding-left: 10px;
        padding-right: 55px;
      }
      button[type="submit"]{
        width: 56px;
        height: 70px;
        color: #fff;
        font-size: 36px;
      }
      button[type="button"]{
        right: calc(50% - 720px);
        font-size: 22px;
      }
    }
    .ov_search_hidden, .ov_search_hidden body{
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: relative;
    }
    .dark-bg .header-bottom-section{
      background: rgba(4, 70, 107, 0.98);
    }
 
    .float-icon a.chat-icon{
      margin-top: 24px;
    }
    .header-bottom-section{
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .mega-menu .col-4, .two-collumn .catalog-menu, .menu-section-wrapper {
      width: 100%;
    }
      .dark-bg .links a.enroll:hover {
	    color: #fff !important;
	    background: #ee2324 !important;
	    border: 1px solid #fff !important;
	}
	.home_btn_mob{
	    display: block !important;
	  }
    .float-icon a {
	    height: 58px;
	}
    .two-collumn {
      display: block;
    }
    .three-collumn {
      display: block;
      .menu-section-wrapper, .catalog-menu {
        width: 100%;
      }
    }
  .has_menu .sub_menu {
    display: none;padding: 5px 0 !important; }
 
     .active-menu   {
    padding: 0 0 7px;
     }
    .header-right-section {
      width: auto;
      float: none;
    }
    .main_navigation {
      > li {
        > a {
          display: block;
          width: 100%;
          margin: 0;
          padding: 9px 15px;
        }
      }
      float: none;
    }
    .mega-menu .col-4 {
      border: 0;
    }
    .header-right-section {
      margin-left: 7px;
      margin-right: 7px;
    }
    .header_container .logo {
      float: none;
      display: inline-block;
    }
    .searchicon {
      float: none;
      padding: 15px 10px;
    }
    .main_navigation > li.has_menu {
      position: relative;
      > .down-arrow {
        top: 1px;
      }
    }
    .has_menu {
      > .down-arrow .fa {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: calc(50% - 9px);
        left: calc(50% - 9px);
      }
      &.active-menu > .down-arrow .fa {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .menu-section {
      > li {
        padding: 0;
        position: relative;
        > a {
          padding: 13px 35px 12px 35px;
          display: block;
        }
      }
      ul {
        padding-left: 0;
        background: #05537a;
      }
      > li.has_menu .down-arrow {
        background: #05537a;
        color: #a7beca;
      }
    }
    .main_navigation > li > ul, .mega-menu {
      border-bottom-width: 0px;
    }
    .main_navigation > li > {
      a {
        font-size: 30px;
        line-height: 32px;
        font-family: Tungsten;
        letter-spacing: 0.03em;
        color: #fff;
        &:after{
          display: none;
        }
      }
      &:hover a span{
        opacity: 1;
      }
      ul > li > a {
        font-size: 26px;
        line-height: 32px;
        padding: 13px 30px 13px 30px;
        letter-spacing: 0.02em;
        color: #fff;
      }
    }
    .menu-section {
      > li > {
        ul > li > a {
          font-size: 22px;
          line-height: 28px;
          padding: 11px 45px 11px 45px;
          display: block;
          letter-spacing: 0.02em;
        }
        a {
          line-height: 25px;
          letter-spacing: 0.045em;
        }
      }
      ul {
        padding-top: 0px !important;
    padding-bottom: 0px;
        margin-top: -6px;
        margin-bottom: -4px;
        display: none;
      }
      > li {
        + li {
          border-top: 0;
        }
        border-bottom: 1px solid #235d7b;
      }
    }
    .has_sub_menu {
      .down-arrow {
        color: #018ed5;
        top: 0px;
        .fa {
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          position: absolute;
            top: calc(50% - 9px);
            left: calc(50% - 9px);
        }
      }
      &.active-menu .down-arrow {
        background: #05537a;
        .fa {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .catalog-menu {
      > {
        a, p {
          display: none;
        }
      }
      padding: 0;
      h3 > a {
        font-size: 22px;
        line-height: 33px;
        display: block;
        margin: 0;
        padding: 12px 25px 12px 25px;
        text-decoration: none;
      }
    }
    .menu-section > li > ul > li:after{
      top: 13px;
    left: 59px;
    }
    .searchicon {
      display: none;
    }
    .header-top-section {
      padding: 16px 8px 16px;
      background: none;
    }
	.menu-section ul > li:first-child{
      padding-top: 17px !important;
    }
    .menu-section ul > li:last-child{
      padding-bottom: 17px !important;
    }
        .menu-section ul > li:first-child:after{
      top: 22px;
    }
    .mhide {
      display: none !important;
    }
    .links a {
      white-space: nowrap;
      &.chat{
        display: none;
      }
      &.req-info, &.enroll {
        span {
          &:before {
            display: none;
          }
          -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
        }
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
        padding: 9.5px 7px;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #fff;
        color: #fff;
        font-size: 11px;
        line-height: 15px;
        font-weight: 500;
        vertical-align: middle;
        margin-right: 3px;
        margin-top: 1px;
        letter-spacing: -0.06em;
        
      }
      &.req-info{
        &:hover{
          background: #008dd4;
          color: #fff;
          border-color: #fff;
          text-decoration: none;
        }
      }
      &.enroll{
        padding: 9.5px 10px;
        &:hover{
          background: #ed2223;
          color: #fff;
          border-color: #fff;
          text-decoration: none;
        }
      }
      &[href*="tel:"] {
        vertical-align: middle;
        padding: 0px 1px;
        font-size: 10px;
        color: #fff;
        &:before {
          font-size: 27px;
          margin: 0 auto 3px;
          display: block;
        }
      }
    }
    .menu-btn {
      font-family: 'Montserrat';
      font-size: 10px;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      width: 37px;
      position: relative;
      top: 1px;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      color: #fff;
      &:before {
        width: 37px;
        height: 26px;
        background: url(/ResourcePackages/Foundation/assets/dist/images/burger_icon.svg) no-repeat center top;
        display: block;
        margin-bottom: 4px;
        content: '';
      }
      &.fa-times:before{
        background: url(/ResourcePackages/Foundation/assets/dist/images/cancel.svg) no-repeat center top;
      }
    }
    .header-bottom-section .header_container {
      position: static;
      padding-left: 10px;
    padding-right: 10px;
    }
    .header_container .logo {
      display: none;
    }
    .header-bottom-section {
      padding-top: 15px;
      display: none;
    }
    .mobile-logo {
      float: left;
      margin-left: 8px;
      img{
        width: 97px;
        + img{
          display: none;
        }
      }
    }
    .searchform {
      position: relative;
      top: 0;
      display: block !important;
      margin-bottom: 17px;
      padding: 0;
    }
    .enroll:hover span, .req-info:hover span, .chat:hover span {
	    text-decoration: none;
	}
    .close-form-btn {
      display: none;
    }
    .catalog-menu {
      background: none;
      h3 {
        margin: 0;
      }
    }
    .two-collumn .catalog-menu {
      display: none;
    }
    .menu-section > li {
      border-bottom: 0;
    }
    .two-collumn {
      border-bottom-width: 1px;
      width: 100%;
    }
    .sm-menu .catalog-menu {
      border-top: 0;
    }
    .main_navigation > li.active-menu > a, .menu-section > li.active-menu > a {
      color: rgba(255, 255, 255, 1);
    }
    // .main_navigation > li > ul > li > a, .menu-section > li > a, .catalog-menu h3 > a {
    //   color: rgba(255, 255, 255, 0.65);
    // }
    .catalog-menu {
      display: none !important;
    }
    .header-top-section{
      position: relative;
      z-index: 1;
     }
     .header-bottom-section{
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 90px;
      width: 100%;
      background: #043752;
    	background: -moz-linear-gradient(-45deg, #0a5981 0%, #033751 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #0a5981 0%,#033751 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #0a5981 0%,#033751 100%);
      height: 100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
     }
     .ov_hidden, .ov_hidden body{
      overflow: hidden;
      height: 100%;
      position: relative;
      width: 100%;
     }
     .links{
       height: auto;
     }
     .ov_hidden, .dark-bg{
      .links{ 
        a[href*="tel:"]{
          color:#000;
        }
        .menu-btn{
          color: #000;
        }
        a.req-info, a.enroll{
          color: #000;
          background: none;
          border: 1px solid #000;
        }
        
      }
      .header-top-section{
        background: #fff;
        .mobile-logo{
          img{
            display: none;
            &+img{
              display: block;
            }
          }
        }
      }
     }
     .dark-bg .menu-btn:not(.fa-times):before{
       background: url(/ResourcePackages/Foundation/assets/dist/images/dark_burger_icon.svg) no-repeat center top;
     }
     .header-bottom-section .back-overlay, .separator-line{
       display: none !important;
     }
     .active-menu{
       .down-arrow{
          background: #00537a;
        }
    }
    .has_menu {
      &>div, &>ul{
        background: #00537a;
      }
    }
     .header ul.main_navigation{
      margin-right: -17px;
      margin-left: -17px;
     }
     .menu-section > li > ul > li>a{
       font-size: inherit;
       line-height: inherit;
       padding: 0 45px 0px 75px;
       color: rgba($color: #fff, $alpha: 1);
     }
     .three-collumn .menu-section > li{
       padding: 0;
     }
     .header .three-collumn .menu-section-wrapper{
       width: 100%;
     }
     .two-collumn .menu-section > li{
       padding: 0;
     }
     .searchform button[type="submit"]{
     	opacity: .75;
     }
     .searchform input::-webkit-input-placeholder{
     	opacity: .75;
     }
     .searchform input::-moz-input-placeholder{
     	opacity: .75;
     }
     .searchform input::-ms-input-placeholder{
     	opacity: .75;
     }
     .float-icon{
      width: 58px;
      bottom: 50px;
       a{
         width: 58px;
         line-height: 58px;
       }
     }
  }
  
  @media screen and (max-width: 374px) {
      .links a[href*="tel:"] {
    padding-left: 0;
    padding-right: 0; }
  .links a.req-info {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 9px;
    margin-right: -1px;
     }
  .links a.enroll {
    padding-left: 4px;
    padding-right: 4px; 
    font-size: 9px;
    margin-right: -1px;
  } 
  .mobile-logo{
  	margin-left: 2px; 
  }
    
  }
  .temp_hide {
    display: none !important;
  }
  body{
    overflow-x: hidden;
  }