﻿.pac-container {
    z-index: 10000 !important;
}

.sf-backend-wrp .Options {
    margin: 0 -30px 10px !important;

    select {
        display: block;
        background: unset;
    }

    label {
        display: block;

        input, select, textarea {
            width: 100%;
        }
    }
}

li.form-group.ng-scope {
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #f4f4f4;

    h5 {
        margin: 0 0 1rem 0;
        padding: 0 0 .5rem 0;
        border-bottom: 1px solid #e5e5e5;
    }

    select:not([disabled]) {
        background: #ffffff;
    }
}

.nav-child-container {
    margin-top: .5rem;
    padding-left: 1.5rem;
    border-left: 1px solid #ccc;

    h4 {
        margin-top: 0;
    }
}
.button-group {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.sub-page-select-group{
    margin-bottom: 1rem;
}

#faqs-of-tag {
    max-height: 200px;
    overflow-y: scroll;

    .col-xs-12 {
        padding-left: 10px;

        &:nth-child(odd) {
            background: $light-gray;
        }
    }
}