﻿$title-dark: #424242;
$smoke-gray: #797979;
$body-gray: #6c8695;
$light-gray: #f8f8f8;
$accent-gray: #d6d6d6;

.accordion-container {
    padding: 50px 15px;
    border: none;

    .background-gray-light,
    &.background-gray-light {
        h2 {
            color: $red !important;
        }
    }

    .accordion {
        margin: 2rem 0;
    }

    .accordion-title {
        color: inherit;
        font-size: .8rem;
        border: none;
        border-top: 1px solid inherit;

        h4 {
            font-size: 1rem;
            margin-bottom: 0em;
            font-family: 'Montserrat';
            font-weight: 500;
            letter-spacing: normal;
        }

        @include breakpoint(medium) {
            font-size: 1rem;
        }
    }

    .accordion-title::before {
        font-weight: 700;
        font-size: 1.2rem;
        color: $accent-gray;
    }

    .accordion-content {
        color: inherit;
        font-size: .7rem;
        border: none;
        padding-top: 0px;
        background: inherit;

        a {
            color: inherit;
            text-decoration: underline;
        }

        p {
            font-size: .8rem;

            @include breakpoint(medium) {
                font-size: .88rem;
            }
        }
    }

    .accordion-title, .accordion-content {
        border-left: none;
        border-right: none;
        padding-right: 2rem;
    }

    .accordion-item {
        border-bottom: 1px solid $smoke-gray;

        &:first-child {
            border-top: 1px solid $smoke-gray;
        }

        &:last-child > .accordion-content:last-child,
        &:last-child:not(.is-active) > .accordion-title {
            border: none;
        }
    }

    &.background-gray-light,
    .background-gray-dark,
    .background-gray {

        .accordion-title::before {
            color: $black;
        }
    }
}

.accordion-inner {
  margin: 0 auto;
}