﻿.anchor {
    h3 {
        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    .heading-container {
        h3, img {
            display: inline-block;
        }

        img {
            max-width: 200px;
            height: auto;

            & + h3 {
                margin-left: 3rem;
            }
        }
    }
}

.anchor-links {
    background: url('/ResourcePackages/Foundation/assets/src/images/AnchorNAV_BG.jpg');
    background-position: top center;
    background-size: cover;
    background-color: transparent;
    width: 100%;
    z-index: 20;
    transform: translateY(0px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition: .2s transform;
    -moz-transition: .2s transform;
    -ms-transition: .2s transform;
    -o-transition: .2s transform;
    transition: .2s transform;

    &.down {
        -webkit-transition: .2s transform;
        -webkit-transition-delay: .2s;
        -moz-transition: .2s transform;
        -moz-transition-delay: .2s;
        -ms-transition: .2s transform;
        -ms-transition-delay: .2s;
        -o-transition: .2s transform;
        -o-transition-delay: .2s;
        transition: .2s transform;
        transition-delay: .2s;
    }

    &.expanded {
        background: #ebebeb;

        @include breakpoint(medium) {
            background: url('/ResourcePackages/Foundation/assets/src/images/AnchorNAV_BG.jpg');
        }
    }

    & > .row {
        max-width: 1540px;
    }

    @include breakpoint(large) {
        &::before,
        &::after {
            content: "";
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            height: 40px;
            width: 40px;

            @include vertical-center;
        }

        &::before {
            left: 10px;
            background-image: url('/ResourcePackages/Foundation/assets/src/images/screw-anchor-nav-left.png');
        }

        &::after {
            right: 10px;
            background-image: url('/ResourcePackages/Foundation/assets/src/images/screw-anchor-nav-right.png');
        }
    }

    @include breakpoint(1540 down) {
        > .row.column {
            padding: 0 50px;
        }
    }

    @include breakpoint(small only) {
        > .row.column {
            padding: 0 !important;
        }
    }

    .accordion-menu .nested.is-accordion-submenu {
        margin-left: 0;
    }

    .menu {
        background: transparent;

        &.expanded {

            > li {
                flex: 1 auto;
            }
        }

        li {
            font-size: rem-calc(14);

            @include breakpoint(small only) {
                width: 100%;
            }
        }

        a {
            color: $dark-gray;
            padding: 1rem;
            transition: all .1s ease-in-out;
            font-size: rem-calc(14);
            font-weight: 500;

            @include breakpoint(small only) {
                width: 100%;
            }

            @include breakpoint(medium) {
                text-align: center;

                &:hover, &:focus {
                    background: rgba(165,165,165,0.5);
                }
            }


            &.active {
                background: $light-blue;
                color: white;
                font-weight: 500;

                &:hover {
                    background: $light-blue;
                }
            }
        }

        .request-info {
            @include breakpoint(small only) {
                padding: 1rem;
                margin: 0 auto;
                width: 80%;

                a {

                    .fa {
                        vertical-align: middle;
                        padding-left: .5rem;
                    }
                }
            }

            @include breakpoint(medium) {
                background-color: $red;

                a {
                    color: white;

                    &:hover {
                        background: $dark-red;
                    }
                }
            }
        }
    }
}
