﻿.sf-breadcrumb {
    color: $white;
    background: #0169a4;
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    font-family: "Montserrat";
    font-size: 13px;

    .breadcrumb-inner {
        @include grid-row;
        max-width: 1540px;

        nav {
            @include grid-column;
        }
    }

    li {
        text-transform: capitalize;
        line-height: 2.25;
        vertical-align: middle;
        display: inline-block;
        font-family: "Montserrat";

        &::after {
            color: rgba($white, 0.65) !important;
        }

        span, a {
            font-family: "Montserrat";
            font-size: 13px;
        }

        span {
            color: $white;
        }

        a {
            color: rgba($white, 0.65);

            &:hover, &:focus {
                color: $white;
            }
        }
    }
}
