.content-slider {
    text-align: center;

    .slide-content {
        text-align: left;
        padding: 1rem;
        @include clearfix;

        @include breakpoint(small only) {
            margin-top: 3rem;
        }
    }

    .slider-container {
        padding-top: 2rem;

        @include breakpoint(small only) {
            position: relative;
        }
    }

    .slides:not(.slick-initialized) + .pagination-wrapper {
        display: none;
    }

    .pagination-wrapper {
        @include clearfix;
        margin-top: 2rem;

        @include breakpoint(small only) {
            position: absolute;
            top: 0;
            margin: 0;
            width: 100%;
        }
    }

    .pagination-container {
        width: 180px;
        float: right;
        position: relative;
        @include clearfix;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;

        @include breakpoint(small only) {
            width: 100%;
        }

        strong {
            flex-grow: 2;
            background: $light-blue;
            color: white;
            padding: 0 .5rem;
            line-height: 3rem;
            display: inline-block;
            font-family: 'Tungsten';
            font-size: 1.4rem;
            font-weight: 600;
        }

        .slider-prev,
        .slider-next {
            background: $light-blue;
            color: white;
            padding: 1rem 0;
            width: 2.75rem;
            height: 100%;
            transition: all .25s;

            &:hover {
                cursor: pointer;
                background: $dark-blue;
                color: white;
            }
        }

        .slider-prev {
            left: 0;
        }

        .slider-next {
            right: 0;
        }
    }

    .slides {
        width: 100%;
        @include clearfix;

        &:not(.slick-initialized) .slide:not(:first-child) {
            display: none;
        }
    }

    .slider {
        width: 100%;
    }

    .slide {
        width: 100%;

        .slide-video,
        .slide-image {
            width: 100%;
        }
    }

    .medium-order-2 {
        .slide-video,
        .slide-image {
            @include breakpoint(medium) {
                text-align: right;

                img {
                    display: inline-block;
                }
            }
        }
    }

    .content-slider--video-iframe {
        width: 100%;
        height: 390px;
    }

    .slide-meta {
        margin-top: 1rem;
        font-family: 'Tungsten';
        font-weight: 600;
        font-size: 1.4rem;
    }

    h4 {
        color: $red;
        font-family: 'Tungsten';
        font-weight: 600;
        font-size: 1.75rem;
    }

    .slide-cta {
        display: block;
        width: auto;
        width: fit-content;
        margin-top: 1rem;
        text-transform: uppercase;
        font-family: 'Tungsten';
        font-weight: 600;
        font-size: 1.6rem;
        vertical-align: middle;
        line-height: 1.6rem;
        text-decoration: underline;

        &:hover, &:focus {
            opacity: 0.75;
        }

        i.fa {
            font-size: 1rem;
            vertical-align: inherit;
            line-height: inherit;
            color: $light-blue;
        }
    }
}
