﻿.widget.contact-form {

    .valid-error {
        border: 1px solid $dark-red;
    }

    #diploma, #military {
        display: none;
    }

    #military {
        padding: 20px 15px;

        .large-7 {
            float: left;
        }

        span {
            margin-right: 40px;
        }

        div {
            display: inline-block;
        }
    }

    label {
        color: inherit;
        font-size: 12px;
        padding-left: 8px;
    }

    label:not(.education) {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.1s linear,opacity 0.1s linear;
    }

    .error {
        color: $dark-red !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .row.large-up-2 {
        padding: 0px;

        @include breakpoint(medium) {
            padding: 20px 0px;
        }
    }

    input.form-control {
        outline: none;
        color: inherit;
        box-shadow: none;
        padding-bottom: 8px;

        @include breakpoint(medium) {
            padding-bottom: 15px;
        }
    }

    select, label {
        opacity: 0.75;
    }

    select:focus, input:focus {
        outline: 1px dotted #212121;
        outline: 5px auto -webkit-focus-ring-color;
    }

    .form-control {
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    select.form-control {
        width: 100%;
    }

    .row.column.text-center {
        padding-top: 20px;
    }
}
