.cta {
    padding: 4rem 0;
    background-size: cover;
    background-position: center center;
    position: relative;

    &.overlay {
        color: $white;
        .overlay:after {
            position: absolute;
            z-index: 0 !important;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height:100%;
            content: '';
            background-color: rgba(60,56,56,0.6);
        }
        > .row {
            position: relative;
            z-index: 1;
        }
    }
}