.description {
    padding: 2.5rem 0;
    position: relative;

    &.has-screws {
        color: $black !important;

        a:not(.button) {
            color: $black !important;

            &:hover {
                color: $light-blue;
            }
        }

        .info-overlay {
            background: transparent !important;
        }

        .info-content {
            bottom: auto;
            @include absolute-center;

            h3 {
                color: $black !important;
                margin-bottom: 0;
            }
        }

        .button-special, .button {
            @include gradient("to bottom", $red, $dark-red);
            color: $white;
            border-color: $white;
            vertical-align: middle;

            &:before {
                background: white !important;
            }

            &:hover, &:focus {
                color: $red !important;
            }
        }
    }

    .description-inner {

        .description-content {

            .content-copy {

                a {
                    color: inherit;
                }
            }

            a.text {
                text-decoration: underline;
            }

            .media-container {

                iframe, img {
                    width: 100%;
                    height: auto;
                }
            }
            /*&.text-center .cta-container {
                a, .button {
                    margin-left: auto;
                    margin-right: auto;
                }
            }*/
        }

        .column.description-content {
            padding-top: 1rem;

            .content-copy {

                a {
                    margin: 0;
                }
            }

            .cta-container {

                a {
                    display: inline-block;
                }
            }
        }
    }

    .cta-container {
        margin-top: -1rem;

        .button, a {
            margin: 1rem .5rem 0;
        }

        a {
            vertical-align: middle;
            display: inline-block;

            &:not(.button) {
                min-height: 3.5rem;
                line-height: 3.5rem;
                padding: 0 1rem;
            }
        }
    }
}

.text-right .cta-container a {
    float: right;
    clear: both;
}
