﻿.filter-cards {
	background: white;

    &:not(.related-story-cards) {
	    padding: 0 !important;
    }
    &.related-story-cards {
	    padding-bottom: 2.5rem;
    }

	&--top {
		@extend .widget;
	}
	.filter-by-descriptor {
		font-size: 16px;
	}
	&--form {
		@extend .natural-language-form-container;

		margin-top: 1rem;

		select {
			width: 100%;
			margin-bottom: 2rem !important;

			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}
		button.button[type="submit"] {
			margin:0 auto 0;

			@include breakpoint(medium only) {
				margin: 0;
			}
		}
	}

	&--results {
		padding: 1.5rem 0;

		&.hide-stories > .column:nth-child(n+7) {
			display: none;
		}
		.filter-card {
			position: relative;
			border: 1px solid $gray;
			margin-bottom: 1.5rem;

			.type-icon {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 50px;
				background: $red;
				z-index: 2;
			}
			&--content {
				padding: 1rem 1.5rem;
				text-align: center;

				p {
					@include breakpoint(medium){
						font-size: 16px;
					}
				}
				a.button {
					width: 100%;
				}
			}
		}
	}

	.show-more-button {
		display: block;
		background: none;
		color: $black;
		width: intrinsic;
		width: -moz-max-content;
		width: -webkit-max-content;
		margin: 0 auto 1.5rem;
		font-weight: 600;
		font-size: rem-calc(32);
		font-family: "Tungsten", "Montserrat";
		text-transform: uppercase;
	}
}

