﻿.filter-blocks {
	background: white;
	padding: 0 !important;
	
	&--top {
		@extend .widget;
        position: relative;
	}
	
	.form-fields {
	}

  .widget-header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .fw-blocks-container {

    .row .column-block .info-content p {
      margin-bottom: 0;
    }
  }
  .form-fields {
    @include breakpoint(medium) {
      margin: 0 auto;
      max-width: 100%;
			width: intrinsic;
			width: -moz-max-content;
			width: -webkit-max-content;
    }

    span, select, button {
      margin-bottom: 0;

      @include breakpoint(medium) {
        display: inline-block;
        height: 3rem;
        line-height: 3rem;
        vertical-align: middle;
      }
    }
    button, select {
      @include breakpoint(medium) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .form-fields--row > span {
      @include breakpoint(small only) {
        display: block;
        font-size: .9rem;
      }
    }
    select {
      min-width: 250px;
			background-color: transparent;
      
      @include breakpoint(small only) {
        width: 100%;
      }
      @include breakpoint(medium) {
        margin-right: .5rem;
      }
    }
    button {
      @include breakpoint(small only) {
        display: block;
        margin: 2rem auto 0;
      }
      @include breakpoint(medium) {
        margin-left: .5rem;
      }
    }

    .form-fields--row {
      &:first-child {
        margin-bottom: 1rem;

        @include breakpoint(medium) {
          margin-bottom: 2rem;
        }
      }
      @include breakpoint(medium) {
        margin-left: auto;
        margin-right: auto;
      }

      span:first-child {
        min-width: 130px;
      }
      span:last-child {
        @include breakpoint(small only) {
          margin-bottom: 2rem;
        }
      }
    }

  }
}
