﻿.rdContent {
    .fw-blocks-container .row.large-up-5:not(.show-blocks) {
        .column-block:nth-of-type(5) ~ .column-block {
            @include breakpoint(large) {
                display: block !important;
            }
        }
    }

    .fw-blocks-container .row.large-up-4:not(.show-blocks) {
        .column-block:nth-of-type(8) ~ .column-block {
            @include breakpoint(large) {
                display: block !important;
            }
        }
    }

    .fw-blocks-container .row.medium-up-3:not(.show-blocks) {
        .column-block:nth-of-type(6) ~ .column-block {
            @include breakpoint(medium only) {
                display: block !important;
            }
        }
    }

    .fw-blocks-container .row.small-up-2:not(.show-blocks) {
        .column-block:nth-of-type(4) ~ .column-block {
            @include breakpoint(small only) {
                display: block !important;
            }
        }
    }
}

.fw-blocks-container {
    padding: 0 !important;

    & + .fw-blocks-container {
        // padding: 2.5rem 0 0 0;
    }

    .show-more-container {
        text-align: center;
    }

    a.show-more {
        @extend .center;
        display: block;
        width: fit-content;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: $black;
        text-transform: uppercase;
        font-size: 1.75rem;
        font-family: 'Tungsten';
        font-weight: 600;
        vertical-align: middle;
        line-height: 1.75rem;

        i.fa {
            font-size: 1rem;
            vertical-align: inherit;
            line-height: inherit;
        }
    }

    &:not(.related-content-blocks) {
        .row {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            max-width: none;
        }
    }

    .row {

        &.large-up-4, &.large-up-5 {

            .info-content {

                p {
                    font-size: 1rem !important;
                    margin-bottom: 1rem !important;
                }
            }
        }

        &.large-up-5 + a.show-more {
            @include breakpoint(large) {
                margin-right: 2rem;
            }
        }

        &.small-up-1 .column-block {
            @include breakpoint(small only) {
                min-height: 300px !important;
            }
        }

        &.medium-up-2 .column-block {
            @include breakpoint(medium only) {
                min-height: 350px !important;
            }
        }

        .column-block {
            position: relative;
            opacity: 1;
            text-align: center;
            margin-bottom: 0;
            min-height: 170px;
            border: 2px solid white;

            @include breakpoint(medium) {
                height: 350px;
            }

            @include breakpoint(large) {
                height: 300px;
            }
            // Dark background colors
            &.background-black,
            &.background-gray-dark,
            &.background-rich-black,
            &.background-red,
            &.background-red-dark,
            &.background-blue,
            &.background-blue-dark,
            &.background-gradient-blue,
            &.background-gradient-red {
                color: $white;

                a:not(.button) {
                    color: $white;
                }

                .button {
                    color: $white;
                    border-color: $white;

                    &:hover, &:focus {
                        color: $black;
                        background-color: $white;
                    }
                }
            }

            &.background-white,
            &.background-gray,
            &.background-gray-light {
                color: $black;

                a:not(.button) {
                    color: $black;
                }

                .button {
                    color: $black;
                    border-color: $black;

                    &:hover, &:focus {
                        color: $white;
                        background-color: $black;
                    }
                }
            }

            &.has-screws {
                color: $black !important;

                a:not(.button) {
                    color: $black !important;

                    &:hover {
                        color: $light-blue;
                    }
                }

                .info-overlay {
                    background: transparent !important;
                }

                .info-content {
                    bottom: auto;
                    @include absolute-center;

                    h3 {
                        color: $black !important;
                        margin-bottom: 0;
                    }
                }

                .button-special, .button {
                    @include gradient("to bottom", $red, $dark-red);
                    color: $white;
                    border-color: $white;
                    vertical-align: middle;

                    &:before {
                        background: white !important;
                    }

                    &:hover, &:focus {
                        color: $red !important;
                    }
                }
            }

            .info-content {
                width: 100%;
                padding: 0 1rem;
                max-width: 400px;
                bottom: 0;
                @include horizontal-center;

                &.center {
                    bottom: auto;
                    @include absolute-center;
                }

                h3 {
                    color: white !important;
                    margin-bottom: 1rem;
                    font-size: 30px;

                    @include breakpoint(medium) {
                        font-size: 32px;
                        margin-bottom: 2rem;
                    }

                    @include breakpoint(large) {
                        margin-bottom: 3rem;
                    }
                }

                p {
                    margin-bottom: 2rem;
                    font-size: .75rem;

                    @include breakpoint(medium) {
                        font-size: .85rem;
                    }

                    @include breakpoint(large) {
                        font-size: 1rem;
                    }
                }

                .button-special {
                    &:after {
                        content: "\f054";
                        font-family: "fontawesome";
                        font-size: .75em;
                        margin-left: .5em;
                        display: inline-block;
                        line-height: 1;
                        vertical-align: bottom;
                    }
                }
            }

            .info-overlay {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }

            a.info-overlay {
                display: block;

                &:hover {
                    transition: all .25s ease;
                    @include gradient("to top", rgba(17,50,87,0.9), rgba(17,50,87,0));
                }

                &.none {
                    &:hover {
                        transition: all .25s ease;
                        @include gradient("to top", rgba(17,50,87,0.9), rgba(17,50,87,0));
                    }
                }
            }

            &.background-image {
                color: $white;

                a:not(.button) {
                    color: $white;
                }


                .info-overlay {
                    @include gradient("to top", rgba(17,50,87,0.85), rgba(17,50,87,0) 50%, transparent 50%);

                    &.none {
                        background-image: none;
                    }
                }

                &:not(.background-image-repeat) {
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &.background-image-repeat {
                    background-repeat: repeat;
                }

                .button {
                    color: $white;
                    border-color: $white;

                    &:hover, &:focus {
                        color: $black;
                        background-color: $white;
                    }
                }
            }
        }

        &.small-up-1 {
            @include breakpoint(small only) {
                .column.column-block {
                    border: 2px solid white !important;
                    border-right: none !important;
                    border-left: none !important;
                }

                .column-block:first-child {
                    border-right: none !important;
                    border-top: none !important;
                    border-left: none !important;
                }

                .column-block:last-child {
                    border-right: none !important;
                    border-bottom: none !important;
                    border-left: none !important;
                }
            }
        }

        &.small-up-2 {
            @include breakpoint(small only) {
                .column.column-block {
                    border: 2px solid white !important;
                }

                .column-block:nth-child(odd) {
                    border-left: none !important;
                }

                .column-block:nth-child(even) {
                    border-right: none !important;
                }

                .column-block:nth-child(-n+2) {
                    border-top: none !important;
                }

                .column-block:nth-last-child(-n+2) {
                    border-bottom: none !important;
                }
            }
        }

        @for $i from 3 through 5 {
            $sizes: medium large;

            @each $size in $sizes {
                &.#{$size}-up-#{$i} {
                    @include breakpoint($size) {
                        .column.column-block {
                            border: 2px solid white !important;
                        }

                        .column-block:first-child,
                        .column-block:nth-child(#{$i}n+1) {
                            border-left: none !important;
                        }

                        .column-block:last-child,
                        .column-block:nth-child(#{$i}n) {
                            border-right: none !important;
                        }

                        .column-block:nth-child(-n+#{$i}) {
                            border-top: none !important;
                        }

                        .column-block:nth-last-child(-n+#{$i}) {
                            border-bottom: none !important;
                        }
                    }
                }
            }
        }
    }
}
