.widget.hero {
    /*padding: 13rem 0 9rem;*/
    position: relative;
    overflow: hidden;

    &.background-gradient-red,
    &.background-gradient-blue,
    &.background-dots-gradient-red,
    &.background-dots-gradient-blue {
        .overlay {
            display: none;
        }
    }

    @include breakpoint(small only) {
        /*padding: 7rem 0 3rem;*/
    }

    &.video-hero {
        background-color: unset;

        @include breakpoint(large) {
            background-size: 0 0;
        }
    }

    &.small-hero {
        /*padding: 9rem 0 5rem;*/
    }

    .scroll-to-next {
        display: none;
        position: absolute;
        color: white;
        bottom: .75rem;
        font-size: 2rem;
        z-index: 10;

        @include horizontal-center;

        &:hover {
            cursor: pointer;
        }

        @include breakpoint(medium) {
            bottom: 1.5rem;
        }
    }

    &.small-hero .scroll-to-next {
        display: none !important;
    }

    .overlay {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute;
        z-index: 0 !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include breakpoint(large) {
            // background-image: none !important;
        }
    }

    .overlay:after {
        content: ' ';
    }

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        .video-iframe {
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #000;

            @include breakpoint(medium) {
                visibility: visible;
            }
        }
    }

    .launch-video {
        display: inline-block;
        margin-top: 2rem;
        padding: .7rem 1.25rem;
        color: white;
        line-height: 1;

        @include gradient("to bottom", $red, $dark-red);

        &:hover, &focus {
            @include gradient("to bottom", $dark-red, $red);
        }
    }


    &.home-hero {
        & > .row {

            @include breakpoint(large) {
                padding: 9rem 0 4rem !important;
            }
        }
    }

    > .row {
        /* Content Area */
        position: relative;
        z-index: 1;
        padding: 7rem 0 3rem;

        @include breakpoint(medium) {
            padding: 8rem 0 5rem;
        }

        @include breakpoint(large) {
            padding: 11rem 0 6rem;
        }
    }

    &:not(.small-hero) {
        > .row {
            @include breakpoint(medium) {
                min-height: 400px;
            }

            @include breakpoint(large) {
                min-height: 600px;
            }
        }
    }

    .hero-content {
        h1 {
            line-height: 1;
            margin-bottom: 0;
            text-transform: uppercase;

            span {
                display: block;
                line-height: 1em;
                margin-top: 1.5rem;
                font-size: 1.5rem;

                @include breakpoint(medium) {
                    font-size: 1.7rem;
                    margin-bottom: 2rem;
                }

                @include breakpoint(large) {
                    font-size: 2.5rem;
                }
            }
        }

        sup {
            font-size: 40%;
            top: -1em;
        }

        p {
            margin-top: 2rem;
            margin-bottom: 0;

            @include breakpoint(medium) {
                font-size: rem-calc(18);
                max-width: 740px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .button-area {
        margin-top: 2rem;

        .button {
            width: 100%;
            padding: 1rem 2.5rem;
            border-color: white;

            @include breakpoint(medium) {
                margin-bottom: 0;
                width: auto;
                width: -moz-max-content;
                width: -webkit-max-content;
                font-size: 1rem;
            }
        }

        .text-link {
            @extends .button;
            color: white;
            border: none;
            padding: unset;

            &:hover, &:focus {
                color: white;
                background-color: transparent;
                opacity: 0.65;
            }
        }

        a:not(.button):not(.button-special) {
            @extend .text-link;
        }

        a + a {
            @include breakpoint(medium) {
                margin-left: 1.5rem;
            }
        }
    }

    &.hero--dark-image {

        .overlay {
            @include gradient("to bottom", rgba(17,50,87,.70), rgba(17,50,87,.20));
        }

        .button {
            color: $white;
            border-color: $white;
        }

        .hero-content,
        .text-link {
            color: $white;
        }
    }

    &.hero--light-image {
        .overlay {
            background-color: rgba(255,255,255,0.6);
        }

        .button {
            color: $white;
            border-color: $white;
        }

        .hero-content,
        .text-link {
            color: $black;
        }
    }
}

.video-modal {
    background: unset;
    border: none;

    &:focus {
        outline: none;
    }

    .close-button {
        margin-top: -1rem;
    }
}
