﻿.image-grid {
    * {
        box-sizing: border-box;
    }

    a.button {
        @include breakpoint(small only) {
            width: 100%;
        }
    }

    .image-grid--wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .slick-slide-content {
        display: block;

        @include breakpoint(medium) {
            display: none;
        }
    }

    .image-grid--container {
        h2 {
            line-height: 1;
        }

        .image-grid--image-container {
            margin-bottom: 1.75rem;
        }

        &.slick-initialized {
            .slick-arrow {
                z-index: 10;

                &.slick-disabled {
                    visibility: hidden;
                }
            }
        }

        .image-grid--item {
            width: 49%;
            margin: 0 0 1rem 0;
            display: block;

            > a {
                display: block;
            }

            img {
                width: 100%;
                height: auto;
                margin: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .grid-sizer,
        .image-grid--item.tall {
            width: 23.5%;
        }

        .gutter-sizer {
            width: 2%;
        }
    }
}

.slbWrapOuter {
    background: $black;
    overflow-x: unset;
    overflow-y: auto;
    z-index: 2010;
}

.slbWrap {
    background: transparent;
}

.slbImageWrap {
    background: transparent;

    &:after {
        background: transparent;
    }

    .slbImage {
        padding: 0;
        max-height: 100%;
        height: auto;
        max-width: 90%;
        width: auto;
    }
}

.slbCloseBtn {
    width: 1em;
    height: 1em;
    top: 0;
    right: 5%;
    line-height: 1em;
}

.slbContentOuter {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
    z-index: 2020;
    text-align: left;
    width: 100%;
    height: 100%;

    .row.column {
        position: relative;
    }
}

.slbContent {
    @include vertical-center;
    width: 100%;
    left: 0;
    margin: 0;
}

.slbCaption {
    position: relative;
    display: block;
    height: auto;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    color: #fff;
    margin: 0 auto;
    width: 90%;
    overflow: initial;
    text-overflow: unset;
    white-space: unset;
    word-wrap: normal;
    font-size: .9rem;
    text-align: left;

    p {
    }
}

.slbArrows {
    position: absolute;

    .slbArrow {
        position: absolute;
        top: 50%;
        margin-top: -1rem;
        width: 2rem;
        height: 2rem;
    }
}
