﻿.image-icon-with-text {
    margin-bottom: -2rem;

    .item {
        margin-bottom: 2rem;

        @include breakpoint(small only) {
            position: relative;
        }

        .item-content {
            @include breakpoint(small only) {
                padding-bottom: 2rem;
            }

            h3 {
                margin-bottom: 1.5rem;
                line-height: 1;
            }

            p {
                max-width: 80%;
                margin: 0 auto;
            }

            > a {
                display: inline-block;
                margin-top: 1.5rem;
                margin-bottom: 0;
            }
        }

        .item-content h3 {
            @include breakpoint(medium) {
                position: relative;
            }

            &:after {
                content: "";
                display: block;
                background: gray;

                @include breakpoint(small only) {
                    @include horizontal-center;
                    bottom: 0;
                    width: 25px;
                    height: 1px;
                }

                @include breakpoint(medium) {
                    @include vertical-center;
                    right: -15px;
                    width: 1px;
                    height: 40px;
                }
            }
        }

        &:nth-child(3n+3) .item-content h3:after {
            @include breakpoint(medium) {
                display: none;
            }
        }

        &:last-child .item-content h3:after {
            display: none;
        }
    }

    .item-img-container {
        margin-bottom: 2rem;
    }
}
