﻿.map-list {

    &.background-image,
    .background-image,
    &.background-blue,
    &.background-blue-dark,
    .background-blue,
    .background-blue-dark,
    &.background-gradient-blue,
    .background-gradient-blue,
    &.background-dots-gradient-blue,
    .background-dots-gradient-blue {
        h2, .map-list--list--link {
            color: $yellow;
        }

        .map-list--list {
            counter-reset: item;
            list-style-type: none;

            li {
                position: relative;
            }

            li:before {
                position: absolute;
                content: counter(item) ". ";
                counter-increment: item;
                color: $yellow;
                display: inline-block;
                width: 1.5rem;
                top: .25rem;
                left: -1.2rem;
                padding-right: 1rem;
            }

            p {
                display: inline;
                padding-bottom: 1rem;
            }
        }
    }

    .map-list--map {
        width: 100%;
        height: 250px;
        background: #333;
        margin-bottom: 2.5rem;

        @include breakpoint(medium only) {
            height: 450px;
        }

        @include breakpoint(large) {
            height: 550px;
        }
    }

    .map-list--list {
        width: 100%;
        padding-left: 1.25rem;
        margin-left: 0;

        @include breakpoint(medium) {
            -moz-column-count: 2;
            -moz-column-gap: 2.5rem;
            -webkit-column-count: 2;
            -webkit-column-gap: 2.5rem;
            column-count: 2;
            column-gap: 2.75rem;
        }

        li {
            margin-bottom: 1rem;
        }
    }

    .map-list--list--link {
        text-decoration: underline;

        &:after {
            content: ":";
            text-decoration: none;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    .gm-style-iw {
        background-color: rgba($dark-blue, 0.9);
        box-shadow: none;
        border: none;
        border-radius: 0;
        overflow: visible;
        position: relative !important;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 20px rgba($dark-blue, 0.9);
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;
        }

        & + div {
            right: 30px;
            top: 25px;
        }
    }

    .mapContent {
        min-width: 250px;
        max-width: 400px;
        padding: 2rem 0 2rem 1.5rem;
        text-align: left;
        font-family: 'Montserrat';
        color: white;

        a {
            color: white;
            text-decoration: underline;
        }

        h3 {
            line-height: 1;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 1.25rem;
            color: $yellow;
        }

        > span {
            display: block;
            padding-bottom: .25rem;
            font-size: .8rem;
        }
    }
}
