﻿.media-slider {
    text-align: center;


    &.background-white,
    &.background-gray,
    &.background-gray-light,
    .background-white,
    .background-gray,
    .background-gray-light {
        .media-slider--slide-content h3 {
            color: $red !important;
        }
    }

    .media-slider--media {
        margin: 0;

        img {
            width: 100%;
            height: auto;
        }

        figcaption {
            display: block;
            margin: 0;
            padding: 1.5rem 1rem 0;
            text-align: center;
            font-size: rem-calc(14);
        }
    }

    .media-slider--slides {
        .slick-arrow {
            color: white;
            background: none;
            height: 100%;
            top: 0;
            bottom: 0;
            width: 3.5rem;
        }

        .slick-prev {
            @include gradient("to right", rgba(50,50,50,0.75), rgba(0,0,0,0));

            &:hover, &:focus {
                @include gradient("to right", rgba(30,30,30,0.9), rgba(0,0,0,0));
            }
        }

        .slick-next {
            @include gradient("to left", rgba(50,50,50,0.75), rgba(0,0,0,0));

            &:hover, &:focus {
                @include gradient("to left", rgba(30,30,30,0.9), rgba(0,0,0,0));
            }
        }
    }

    .media-slider--slide-content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;

        @include breakpoint(medium) {
            margin-top: 2.5rem;
            padding: 0 2rem;
            text-align: left;
        }

        h3 {
            margin-bottom: .5rem !important;
            line-height: 1;


            @include breakpoint(medium) {
                margin-bottom: 1.5rem;
            }
        }

        p {
            margin: 0;
            padding: 0;
            font-size: inherit;
        }
    }

    .media-slider--slide-nav {
        position: relative;

        .slick-arrow {
            top: rem-calc(62.5);
            font-size: .65rem;
            height: rem-calc(30);
            width: rem-calc(22);

            &:before {
                line-height: 0.25;
            }
        }

        .slick-current {
            &:after {
                content: "";
                position: absolute;
                background-color: rgba($light-blue,0.7);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .slide-nav--video-slide {
            position: relative;

            .play-button {
                @include absolute-center;
                background: rgba(255,255,255,0.5);
                color: white;
                padding: .25rem 1rem;
                z-index: 1;

                i {
                    text-shadow: 0 3px 4px rgba(0,0,0,0.6);
                }

                &:hover {
                    background: black;
                }
            }
        }


        & + .row {
            margin-top: 3rem;
        }
    }

    .slide-nav--slide {
        height: 125px;
        overflow: hidden;
        position: relative;
        border-left: 1px solid white;
        border-right: 1px solid white;

        &:hover {
            cursor: pointer;
        }

        &:hover, &:focus {
            img {
                opacity: 0.8;
            }
        }

        img {
            min-height: 100%;
            min-width: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
            @include absolute-center;
        }
    }
}
