﻿.natural-language-form-container {
    text-align: center;
    padding: 45px 0 !important;


    .form-header {
        margin: 0 auto;

        h2, h3 {
            margin-bottom: 0;
        }
    }

    .form-fields {
        text-align: center;

        @include breakpoint(1024 down) {
            text-align: left;
        }

        .columns > * {
            display: inline-block;
        }

        select {
            height: 40px;
            color: inherit;
            background-color: transparent;

            @include breakpoint(1024) {
                margin-bottom: 0;
            }

            @include breakpoint(1024 down) {
                display: block;
                width: 100%;
            }

            &:first-of-type {
                @include breakpoint(1024 down) {
                    margin-bottom: 1.5rem;
                }
            }

            &:last-of-type {
                @include breakpoint(1024 down) {
                    margin-bottom: 0;
                }
            }

            &[name="student-type"] {
                min-width: 200px;
            }

            &[name="interest-area"] {
                min-width: 250px;
            }

            option {
                color: $black;
            }

            &:focus {
                outline-width: 2px;
                outline-style: solid;
                outline-color: Highlight;

                @media (-webkit-min-device-pixel-ratio:0) {
                    outline-color: -webkit-focus-ring-color;
                    outline-style: auto;
                }
            }
        }

        .form-copy {
            vertical-align: middle;
            line-height: 1;

            @include breakpoint(1024) {
                padding: 0 .5rem;
                height: 40px;
                line-height: 40px;
            }
        }

        .button {
            min-width: 100px !important;
            line-height: 40px;
            padding: 0 1rem;
            height: 40px;
            margin: 0 .5rem 0 .5rem;
            vertical-align: top;

            @include breakpoint(1024 down) {
                display: block;
                margin: 2rem auto 0 auto;
            }

            &:hover {
                border-color: white;
            }
        }
    }
}
