﻿.numbers-facts {

    .numbers-facts-inner {
        .widget-header {
            .button {
                margin-bottom: 2.5rem;
            }
        }

        .header-info {
            margin: 0 auto;
            max-width: 1100px;
        }

        .numbers-facts-stats {
            padding: 0 1rem;

            @for $i from 1 through 4 {
                &.medium-up-#{$i} .column:nth-child(-n+#{$i}),
                &.large-up-#{$i} .column:nth-child(-n+#{$i}) {
                    @include breakpoint(large) {
                        margin-top: 0;
                    }
                }
            }

            &.large-up-1 .column .numbers-facts-stat {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }

            .column {
                position: relative;
                margin-top: 2rem;

                @include breakpoint(medium) {
                    margin-top: 4rem;
                }

                .numbers-facts-stat {
                    position: relative;
                    padding-left: 1rem;

                    &.has-accent:before {
                        content: "";
                        top: 55px;
                        left: -3rem;
                        height: 1px;
                        width: 100px;
                        position: absolute;
                        transform: rotate(-80deg);
                        background: $light-gray;
                    }

                    .number,
                    .stat-text {
                        display: block;
                        font-family: 'Tungsten';
                        font-weight: 600;
                    }

                    .number {
                        font-size: 3rem;
                        font-weight: bold;
                        letter-spacing: 2px;
                    }

                    .stat-text {
                        opacity: 0.7;
                        font-size: 1.25rem;
                        padding-bottom: 1rem;
                    }

                    p, ul, ol, span {
                        /*max-width: 400px;*/
                        font-size: .77rem;
                    }

                    .text {
                        color: inherit;
                        text-transform: uppercase;
                        text-decoration: underline;

                        .fa-chevron-right {
                            font-size: 14px;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .column.hidden {
                display: none;

                @include breakpoint(medium) {
                    display: block !important;
                }
            }
        }

        .cta-container {
            .text {
                color: inherit;
            }
        }

        .footer-info {
            /*margin-top: 4rem;*/

            p {
                margin-bottom: 0;
            }

            .cta-container {
                padding: 2.5rem 0 0 0;

                a {
                    display: inline-block;
                    margin: 0 10px;

                    @media (max-width: 640px) {
                        margin: 2rem auto;
                        display: block;
                        max-width: 250px;
                    }
                }
            }
        }

        .button {
            min-width: 250px;
        }
    }


    a.show-more {
        @extend .center;
        display: block;
        text-align: center;
        margin: 2.5rem auto 4rem;
        color: inherit;
        text-transform: uppercase;
        font-family: 'Tungsten';
        font-weight: 600;
        font-size: 1.75rem;
        vertical-align: middle;
        line-height: 1.75rem;

        i.fa {
            font-size: 1rem;
            vertical-align: inherit;
            line-height: inherit;
        }

        @include breakpoint(medium) {
            display: none !important;
        }
    }

    &.background-white,
    &.background-gray,
    &.background-gray-light {

        .numbers-facts-stat.has-accent:before {
            background: $black !important;
        }
    }
}
