﻿.value-prop {
    padding: 2.5rem 0;

    .widget-header h3 {
        @include breakpoint(small only) {
            font-size: rem-calc(23);
        }
    }

    .value-prop-items {
        padding-bottom: 1.25rem;

        > .row {
            @include breakpoint(medium) {
                padding-bottom: 2.5rem;
            }
        }

        img {
            max-width: 100px;
            width: 100%;
            height: auto;
        }

        .icon {
            text-align: right;
        }

        h3 {
            text-decoration: underline;
            line-height: 1;

            sup {
                display: inline-block;
            }
        }
    }
}
