﻿.sc-video-thumb {
    min-height: 300px;
    position: relative;
    background-size: cover;
    background-position: center center;

    .launch-sc-video {
        display: inline-block;
        margin-top: 2rem;
        padding: .7rem 1.25rem;
        color: white;
        line-height: 1;
        top: 35%;
        left: 43%;
        position: absolute;

        @include gradient("to bottom", $red, $dark-red);

        &:hover, &focus {
            @include gradient("to bottom", $dark-red, $red);
        }

        .fa.fa-play {
            color: #fff;
        }
    }
}
