﻿.blog-list {
    border-right: 1px solid #f5f5f5;
    padding-right: 14px;
    font-size: .9em;
}

.blog-cal-box {
    padding: 5px;
    color: #fff;
    background-color: #222;
}

ul.sf-breadscrumb.blog-list-breadcrumbs {
    font-size: .8em;
    margin-left: 13px;
    margin-right: 23px;
}

.blog-cal-box {
    padding: 5px;
    color: #fff;
    background-color: #222;
}

.blog-cal-date {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 19px;
}

.blog-cal-mmyy {
    font-size: 12px;
    height: 15px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 14px;
}

.blog-cal-day {
    font-size: 12px;
    color: #ccc;
    text-align: center;
}


@media (max-width: 768px) {
    h2.blog-title, h1.blog-title {
        text-align: center;
        padding-top: 10px;
    }
}

h2.blog-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    color: #222;
}


@media (max-width: 768px) {
    .blog-byline {
        text-align: center;
    }
}


.blog-byline {
    color: #999;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: -7px;
}

.blog-featured-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-full-story {
    color: #a70e13;
    font-size: 16px;
    font-weight: bold;
}
